/***************
07. FOOTER
****************/
#footer{
  background: #000;
  width: 100%;
  padding-bottom: 50px;
  overflow: hidden;
} 

#footer .wrap{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

#footer .logo {
  width: 91px;
  height: 46px;
  font-size: 0;
  margin: 0;
  background: url(../images/logo_itoxi.png) no-repeat center / contain;
}

#footer .c_logo{
  width: 132px;
  height: 41px;
  font-size: 0;
  background: url(../images/logo_mihua.png) no-repeat center / contain;
}

#footer .footer_right{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sns_txt{
  font-size: 12px;
  color: #7f7f7f;
  margin: 40px 0 20px;
}

#footer .footer_icon{
  opacity: 60%;
  margin: 0 0 20px;
}

#footer .footer_sns ul{
  display: flex;
  justify-content: space-between;
  width: 230px;
}

#footer .footer_sns ul li{
  font-size: 0;
  opacity: 100%;
}

#footer .footer_sns ul li a{
  background-image: url("../images/footer_icon.png");
  background-size: 218px;
  width: 30px;
  height: 26px;

}

#footer .footer_cont{
  display: flex;
  justify-content: space-between;
  width: 50%;
}

#footer .footer_left_box{
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_bar{
  width: 3px;
  height: 60%;
  background: rgb(255, 255, 255, 0.5);
}

.footer_sns ul li:first-child a{background-position: -8px 0;}
.footer_sns ul li:nth-child(2) a{background-position: -51px 0px;}
.footer_sns ul li:nth-child(3) a{background-position: -94px 0;}
.footer_sns ul li:nth-child(4) a{background-position: -142px 0;}
.footer_sns ul li:nth-child(5) a{background-position: -187px 0;}

#footer .footer_menu {
  display: flex;
  align-items: center;
}

.footer_text{
  display: flex;
}

.footer_menu li a{
  margin: 0 10px 0 10px;
  color: #7f7f7f;
  letter-spacing: -1px;
  font-weight: 300;
}

.footer_center_menu{
  border-left: 2px solid #545454;
  border-right: 2px solid #545454;
}

#footer .footer_center_menu a{
  font-weight: 700;
}

.apply_btn{
  padding: 12px 20px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -1px;
  border: 1px solid #919191;
  border-radius: 7px;
}

.apply_btn:hover{
  color: #232323;
  background: #fff;
  border: 1px solid #fff;
}

.pp_left{
  margin-left: 10px;
}

.pp_center{
  margin: 0 10px 0 10px;
}

.pp_right{
  margin-left: 10px;
}

.policy {
  display: flex;
  justify-content: flex-end;
  width: 1240px;
  margin: 0 auto;
  padding: 20px 0;
}

.policy a{
  color: #fff;
  margin: 0 10px;
  font-size: 15px;
}

.copyright{
  text-align: center;
  font-size: 15px;
  color: #7a7a7a;
  letter-spacing: -1px;
}

@media screen and (max-width:1440px){

  .footer_menu li a{
    font-size: 1.5vw;
  }
  .copyright{
    font-size: 1.5vw;
  }

}

@media screen and (max-width: 1240px){

  .policy{
    width: 100%;
  }
  
}

@media screen and (max-width:1024px){
  #footer{
    height: 325px !important;
    padding-bottom: 1rem;
  }

  #footer .wrap{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  #footer .logo, #footer .c_logo{
    margin: 0;
  }

  .font_g{
    text-align: center;
  }

  #footer .footer_right{
    align-items: center;
  }

  #footer .footer_icon{
    margin: 10px 0 20px;
  }

  .footer_text{
    align-items: center;
    flex-direction: column-reverse;
  }

  #footer .footer_menu {
    margin-top: 15px;
  }

  .footer_menu li a{
    font-size: 2vw;
  }

  .footer_menu li:nth-child(7) a {
      /* position: relative; */
      bottom: 75px;
      right: 88px;
  }

  .policy {
    justify-content: center;
  }

  #footer .footer_cont{
    flex-direction: column;
    align-items: center;
  }

  #footer .footer_left_box{
    width: 80%;
    padding-bottom: 1rem;
  }

  .sns_txt{
    text-align: center;
  }

}

@media screen and (max-width:840px){

  .footer_menu li a,
  .copyright{
      font-size: 12px;
  }

  .sns_txt {
    margin: 20px 0 10px;
  }

}

@media screen and (max-width:720px){

  #footer .footer_menu {
    width: 320px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer_menu li a{
    margin: 10px 14px;
    font-size: 15px;
  }

  .policy a{
    font-size: 13px;
  }
  
}

@media screen and (max-width:480px){
  #footer .footer_cont{
    width: 80%;
  }

  #footer .footer_left_box{
    width: 100%;
  }

  .footer_cont .desc_itoxi p{
    font-size: 1rem;
  }
}