@charset "utf-8";
/***********************
* HEADER
***********************/
.gnb{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:0;
  left: 0;
  padding: 0 20px;
  z-index: 800;
}

.gnb_right{
  display:flex;
  justify-content: space-between;
 }

.gnb.hidden{
  top: -100px;
  opacity: 0;
  width: 100%;
  display:flex;
  height: auto;
  font-size: inherit;
  transition: 0.5s all;
}

.gnb a{
  font-size: 0.9rem;
}

.gnb h1 { font-size:0; line-height:1; }

a.logo{
  width: 200px;
  height: 107px;
  background:url('../images/header_logo.png') no-repeat center / contain;
  font-size: 0;
}

.menu{
  position: fixed;
  top: 25%;
  margin-left: 1vw;
  z-index: 4;
}

.nav ul{
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
}

.nav ul li{
  text-align: center;
  margin-bottom: 1rem;
}

.nav ul li a{
  position: relative;
  width: 8vw;
  height: 100%;
  font-size: 1.2vw;
  padding: 40px 0 0;
  color: #fff;
  margin-bottom: 1rem;
}

.nav ul li > a:before{
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 100%;
  height: 6px;
  background: #fff;
  border-radius: 0 0 6px 6px;
  opacity: 0;
  transition: 0.3s all;
}

.nav ul li > a.current:before,
.nav ul li > a:hover:before{
  top: 0;
  opacity: 1;
}

.nav ul li a.current{
  padding-top: 30px;
  font-weight: bold;
  opacity: 1;
}

/* .nav ul li a:hover{
  padding-top: 30px;
} */

.nav ul li a::after{
  padding-top: 30px;
  font-weight: 500;
}

.btn_wl{
  position: relative;
  padding: 10px 20px;
  margin: 27px 0 0;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  text-align: center;
}

.btn_wl:hover{
  background: #fff;
  color: #040302;
}

.r_menu{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.r_menu a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

/***************
MENU
****************/
.desc_nav_custom{
  position: relative;
  font-size: 30px;
  font-family: ghanachoco;
  background: linear-gradient(180deg, #FFF 20.11%, #A8A8A8 81.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 34px;
}

.desc_nav_custom:hover{
  background: linear-gradient(180deg, #FFEB6F 8.33%, #FF9B33 81.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc_nav_custom span{
  left: -3.45px;
  width: 11px;
  height: 11px;
  background: #FFBC47;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  border: 0;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1sease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1sease-in-out;
}

.desc_nav_inner{
  position: absolute;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  padding: 5px 40px 10px;
}

#desc_nav_inner_1{
  top: 46%;
}

#desc_nav_inner_2{
  top: 58%;
}

#desc_cs_nav_1, #desc_cs_nav_2, #desc_cs_nav_3, #desc_cs_nav_4, #desc_cs_nav_5{
  width: 100%;
  height: 100% !important;
  padding: 0;
  text-align: left;
  justify-content: flex-start;
  font-size: 20px;
  opacity: 100%;
  color: #fff;
  background: linear-gradient(180deg, #FFF 20.11%, #A8A8A8 81.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

#desc_cs_nav_1:hover, #desc_cs_nav_2:hover, #desc_cs_nav_3:hover, #desc_cs_nav_4:hover, #desc_cs_nav_5:hover{
  /* background: linear-gradient(180deg, #FFEB6F 8.33%, #FF9B33 81.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

#fp-nav ul li:nth-child(3){
  margin-bottom: 60px;
}

#fp-nav ul li:nth-child(5){
  margin-bottom: 100px;
}

#desc_cs_1 {
  position: relative; /* 절대 위치를 설정하기 위해 상대 위치로 설정 */
  transition: all 0.3s ease; /* 부드러운 전환 효과 */
}

#desc_cs_1.hover-effect, #desc_cs_2.hover-effect {
  /* border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 30% !important;
  width: 11px !important;
  height: 11px !important;
  background: #FFBC47;
  margin: -2px 0 0 -2px; */
  /* top: -4px;
  left: -6px;
  width: 26px;
  height: 29px;
  background: url(../images/icon_point.png) no-repeat center / contain; */
}

#desc_cs_1.active-effect span, #desc_cs_2.active-effect span{
  opacity: 0;
  transition: all 0s;
}

#fp-nav ul li .hover-effect{
  
}

#desc_cs_1.active-effect + #desc_cs_p_1{
  background: linear-gradient(180deg, #FFEB6F 8.33%, #FF9B33 81.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#fp-nav ul li .hover-effect{
  background: linear-gradient(180deg, #FFEB6F 8.33%, #FF9B33 81.94%) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

/* hover 시 p 태그 스타일 */
#fp-nav ul li #desc_cs_p_1.hover-effect, #fp-nav ul li #desc_cs_p_2.hover-effect {
  background: linear-gradient(180deg, #FFEB6F 8.33%, #FF9B33 81.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#fp-nav ul li #desc_cs_1.active-effect, #fp-nav ul li #desc_cs_2.active-effect{
  top: -4px;
  left: -6px;
  width: 26px;
  height: 29px;
  background: url(../images/icon_point.png) no-repeat center / contain !important;
  -webkit-background-clip: unset !important;
  -webkit-text-fill-color: unset !important;

}

#fp-nav ul #nav_none_1, #fp-nav ul #nav_none_2, #fp-nav ul #nav_none_3, #fp-nav ul #nav_none_4{
  display: none;
}

 /**/

#fp-nav{
  /* display: none; */
  width: 100%;
  max-width:350px;
  height: 100vh;
  padding: 20px 24px 20px 47px;
  /* background:url('../images/bg_nav.png') no-repeat center / cover; */
  top: 50%;
  transform: translate(0, -50%);
  margin-top: unset !important;
  transition: all 0.2s;
  background-size: cover;
  background-position: 90%;
/*   height: 465px; */
/*   border-left: 1px solid #9e9e9e; */
}

#fp-nav ul{
  position: relative;
  height: 100%;
  /* border-left: 1px solid #9e9e9e; */
}

#fp-nav li{
  
}

#fp-nav ul li .fp-tooltip.right{
  top: -13px;
  left: 50px;
  right: unset;
  padding: 30px 0;
}

#fp-nav.left{
  left: 0
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{
  left: 30% !important;
  width: 11px !important;
  height: 11px !important;
  background: #FFBC47;
  transition: all 0s;
}

#fp-nav ul li:hover a span{
  display: block;
  margin: -2px 0 0 -2px !important;
}

#fp-nav ul li a.active, .fp-slidesNav ul li a.active, #fp-nav ul li:hover a.active, .fp-slidesNav ul li:hover a.active{
  top: -4px;
  left: -6px;
  width: 26px;
  height: 29px;
  background: url('../images/icon_point.png') no-repeat center / contain !important;
}

#fp-nav ul li:hover a, .fp-slidesNav ul li:hover a{
  /* top: -4px;
  left: -6px;
  width: 26px;
  height: 29px;
  background: url('../images/icon_point.png') no-repeat center / contain;
  transition: all 0.1s;
  z-index: 999; */
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{
  
}

#fp-nav ul li .fp-tooltip{
  left: 20px;
  top: 50%;
  margin-top: -9px;
  padding-left:1rem;
  width: auto;
  font-size: 30px;
  opacity: 100%;
  color: #fff;
  font-family: ghanachoco;
  background: linear-gradient(180deg, #FFF 20.11%, #A8A8A8 81.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#fp-nav ul li .fp-tooltip:hover{
  background: linear-gradient(180deg, #FFEB6F 8.33%, #FF9B33 81.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#fp-nav ul li a, .fp-slidesNav ul li a{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip{
  background: linear-gradient(180deg, #FFEB6F 8.33%, #FF9B33 81.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#fp-nav ul li, .fp-slidesNav ul li{
  left: -7px;
  padding: 24px 0;
}

/* #fp-nav ul li #tooltip-3, #fp-nav ul li #tooltip-4, #fp-nav ul li #tooltip-6, #fp-nav ul li #tooltip-7{
  font-family: GmarketSansMedium;
  font-size: 20px;
  background: var(--, linear-gradient(180deg, #FFF 20.11%, #A8A8A8 81.94%));
} */

#fp-nav ul li a{
  height: 29px;
}

.tool_deco{
  position: relative;
  left: 50px;
  top: 20px;
  width: 150px;
  font-size: 20px;
}

/************여기서 부터
#fp-nav ul li a{
position:relative
}

/* #fp-nav ul li a::before,
#fp-nav ul li a::after{
 content:"";
 position:absolute;
 width:2px;
 height:100px;
 background:white;
} */

/* #fp-nav ul li:not(:first-child) a::before,
#fp-nav ul li:not(:last-child) a::after{
 content:"";
 position:absolute;
 width:2px;
 height:100px;
 background:white;
} */

#fp-nav ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
	position:relative
}


#fp-nav ul::before{
	content: "";
  position: absolute;
  width: 1px;
  height: 75%;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 206, 136, 0.00) 0%, #FFC055 19.5%, #FFA800 51.5%, #FFBB45 76%, rgba(255, 206, 136, 0.00) 100%);
  transform: translateX(-50%); /* X축 기준으로 중앙 정렬 */
}


#fp-nav ul li:nth-child(12),
#fp-nav ul li:nth-child(13),
#fp-nav ul li:nth-child(14),
#fp-nav ul li:nth-child(15),
#fp-nav ul li:nth-child(16),
#fp-nav ul li:nth-child(17),
#fp-nav ul li:nth-child(18),
#fp-nav ul li:nth-child(19){
  display: none;
}
/************여기 까지*************/
/***************
DROPDOWN
****************/
#dropDown{
  position: absolute;
  height: 0;
  visibility: hidden;
  opacity: 0;
  font-size: 0;
}

.dropdown_wrap:hover > #dropDown{
  height: 3vh;
  visibility: visible;
  opacity: 1;
}

.visible{
  display: none;
  visibility: hidden;
  opacity: 0;
  font-size: 0;
  height: 0;
}

#dropDown a{
  display: flex;
  flex-direction: column;
  /* padding: 20px 0; */
  white-space: nowrap;
  margin-bottom: 1rem;
}

#dropDown a:hover{
  font-weight: 700;
  opacity: 1;
}

.dropdown_cont ~ .nav ul li a.current:before {
  top: 0;
  opacity: 1;
}

.hidden_menu{
  display: none;
  font-size: 0;
}

.hover_menu:hover ~ .hidden_menu{
  display: block;
  font-size: 1rem;
}

/* Select - lang.*/
.lang{
  display: flex;
  align-items: center;
  border:1px solid #fff;
  border-radius:50px;
}

.lang a{
  width: 65px;
  font-weight: 600;
  color: #777675;
}

.lang a:first-child{
  position: relative;
}

.lang a:first-child::after{
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 3px;
  height: 15px;
  background: #777675;
  border-radius: 0 0 6px 6px;
  transition: 0.3s all;
}

.lang a:not(.current):hover,
.lang a.current{
  color: #fff;
}


/* Header elem. color.*/
.nav_black .nav ul li a{
  color: #3c3c3c;
}

.nav_black .nav ul li a:before{
  background: #3c3c3c;
}

.nav_black .nav ul li div a::before{
  background: unset;
}

.nav_black .btn_wl{
  color: #fff;
  background: #3c3c3c;
  border: 1px solid #3c3c3c;
}

.nav_black .btn_wl:hover{
  color: #3c3c3c;
  background: #fff;
  border: 1px solid #fff;
}

.nav_black .btn_login{
  border:1px solid #3c3c3c;
  color: #3c3c3c;
}

.nav_black .btn_login:hover{
  background: #3c3c3c;
  color: #fff;
}

.nav_black .lang{
  border:1px solid #3c3c3c;
}

.nav_black .lang a{
  color: #777777;
}

.nav_black .lang a:first-child::after{
  background: #777777;
}

.nav_black .lang a:not(.current):hover,
.nav_black .lang a.current{
  color: #3c3c3c;
}

/***************
SNS MENU
****************/
.sns{
  display: flex;
  z-index: 4;
}

.sns ul{
  display: flex;
  align-items: center;
  gap: 14px;
}

.sns ul li a,
.sns ul li button:not(.btn_login){
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  text-indent: -9999px;
}

.btn_ncafe{
  background-image: url('../images/btn_game_naver.png');
}

.btn_youtube{
  background-image: url('../images/btn_youtube.png');
}

.btn_share{
  background-image: url('../images/btn_share.png');
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.btn_top{
  background: url('../images/btn_top.svg');
}

.btn_kakao{
  background: url('../images/btn_kakao.svg');
}

.btn_x{
  background: url('../images/btn_x.svg');
}

.btn_facebook{
  background-image: url('../images/btn_facebook.svg');
}

.btn_link{
  background: url('../images/btn_link.svg');
}

.sns ul li .btn_pre_go{
  width: 223px;
  height: 49px;
  background: url('../images/reservation_btn2.png');
}

.sns ul li .btn_pre_apple, .sns ul li .btn_pre_google{
  width: 167px;
  height: 50px;
}

.btn_pre_apple{
  background-image: url('../images/btn_one_pre_kr.svg');
}

.btn_pre_google{
  background-image: url('../images/btn_google_pre_kr.svg');
}

.sns ul li:not(:nth-child(6)){
  position: relative;
}

.sns ul li:hover a::after{
  border-bottom: 1px solid #fff;
}

.m_pre_wrap{
  display: flex;
  gap: 20px;
  margin-top: 60px;
}

.img_m_pre_sns{
  height: 60px;
}

.cont_share_2{
  position: absolute;
  display: none;
  flex-direction: column;
  top: 80%;
  right: 20px;
}

.cont_share_2 a{
  width: 43px;
  height: 43px;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.btn_kakao, .btn_facebook, .btn_x, .btn_link{
  width: 43px;
  height: 43px;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.btn_arrow{
  content:"";
  position :absolute;
  top: -5px;
  left: 50%;
  margin-left: -8px;
  padding-top: 36px;
  width: 16px;
  height: 9px;
  background:url('../images/btn_top.png') no-repeat center 0;
  animation: bounceUp 1.6s cubic-bezier(0.45, 0.03, 0.5, 0.1) infinite both;
}

.btn_login{
  position: relative;
  width: 152px;
  height: 38px;
  background:url('../images/btn_login.png') no-repeat center / contain;
}

#btn_logout{
  width: 110px;
  height: 37px;
  background-color: rgb(255,255,255, 0.3);
  border-radius: 20px;
}

.mypage{
  display: none;
  position: absolute;
  top: 150%;
  right: -2%;
  width: 584px;
  height: 579px;
  background:url('../images/bg_mypage.png ') no-repeat center / 100% 100%;
}

.mypage_2{
  display: none;
  position: fixed;
  top: 15%;
  left: 50%;
  width: 584px;
  height: 579px;
  background:url('../images/bg_mypage.png ') no-repeat center / 100% 100%;
  transform: scale(0.9) translate(-50%, 0);
  transform-origin: left;
  z-index: 999;	
}

.wrap_mypage{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 90%;
}

.cont_mypage{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

#btn_p_ev, #btn_c_ev, #btn_f_ev{
  width: 100%;
  font-size: 1rem;
}

.box_v_num{
  display: flex;
  justify-content: space-between;
}

.v_num_count{
  width: 100%;
  height: 143px;
  background: #e2e2e2;
  text-align: center;
}

#voting_num, #holding_num, #voting_num_2, #holding_num_2, #voting_num_3, #holding_num_3, #voting_num_4, #holding_num_4, #voting_num_5, #holding_num_5, #voting_num_6, #holding_num_6{
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
}

.voting, .holding{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  background: #0f95e2;
}

.desc_v_status, .desc_a_status, .desc_ifl_manage, .desc_v_status_2, .desc_a_status_2, .desc_ifl_manage_2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 85%;
  height: 50%;
}

.v_status, .a_status, .ifl_manage{
  position: relative;
  display: flex;
  height: 75px;
  /* border-bottom: 5px solid #0f95e2; */
  padding-bottom: 15px;
}

/* .v_status:active, .a_status:active, .ifl_manage:active{
  display: none;
  content: '';
  position: absolute;
  bottom: 0;
  width: 119px;
  height: 5px;
  border-bottom: 5px solid #0f95e2;
} */

/* .desc_v_status{
  display: none;
}

.desc_a_status{
  display: none;
}

.desc_ifl_manage{
  display: none;
} */

.box_ifl_m{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_ifl_manage{
  width: 50%;
  padding: 10px 0;
  margin: 15px 0;
}

.btn_ifl_clear{
  background-color: rgba(15,115,188,0.5);
  width: 110px;
  height: 50px;
}

/* .btn_top::after{
  content:"";
  position :absolute;
  top: 5px;
  left: 50%;
  margin-left: -8px;
  width: 16px;
  height: 9px;
  background:url('../images/btn_top.png') no-repeat center 0;
  animation: bounceUp 1.6s cubic-bezier(0.45, 0.03, 0.5, 0.1) infinite both;
} */

/***********************
* HEADER - mobile
***********************/
.m_nav{
   position: absolute;
  display: none;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: url(../images/m/m_bg_menu.png) no-repeat center / cover;
  background-color: #000;
  overflow: visible;
  z-index: 999;
}

.btn_m_close{
	width: 78px;
  height: 78px;
	background: url(../images/m/btn_m_menu_close.svg) no-repeat center / contain;
	font-size: 0;
  margin-left: 0.5rem;
}

.m_nav_top{
    position: absolute;
    top: 0;
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menu_on_wrap{
  height: 90vh;
  overflow-y: scroll;
}

.m_nav.active{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  text-align: center;
}

.m_nav ul li a{
  padding: 15px 0;
  color:#fff;
  font-size: 66px;
  font-weight: 300
}

.m_nav ul li a.current{
  /* font-weight: 600; */
}

.menu_on_img{
  width: 392px;
}

.nav_btn{
  background: linear-gradient(180deg, #FFF 20.11%, #A8A8A8 81.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.m_nav ul li .desc_m_nav_inner{
  font-size: 50px;
  padding: 6px 0;
}

.m_nav .btn_nav_close {
    width: 2.2rem;
    height: 2.2rem;
    padding: 0.2rem;
	font-size: 0;
	background: url(../images/m/btn_menu_close.png) no-repeat center / contain; 
    border:1px solid #333;
	z-index: 3;
}

.btn_nav_open{
  width: 78px;
  height: 78px;
  padding: 0.2rem;
  margin-left:0.5rem;
  background: url(../images/btn_m_menu.svg) no-repeat center / contain;
  font-size: 0;
}

.m_nav ul li a.btn_ncafe{
  width: 2.5rem;
  height: 2.5rem;
  padding:0.5rem;
  margin-top:3rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border:1px solid #333;
  text-indent: -9999px;
}


.nav_black .btn_nav_open{
  background:url('../images/m/m_icon_gnb_gray.png') no-repeat center / contain;
}

.m_nav .m_btn_wl{
  position:absolute;
  padding: 10px 20px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  text-align: center;
  top: 20px;
  right: 30px;
}

.new_color{
  background: linear-gradient(180deg, #FFEB6F 8.33%, #FF9B33 81.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media screen and (max-width: 1480px){
  #fp-nav, .gnb h1{
    display: none;
  }

  .gnb{
    padding: 20px;
  }

  .mobile{
    display: block;
  }
}


@media screen and (max-width: 1440px){
  /* Header */
  .nav ul li a{
    width: 10vw;
    font-size: 1.2vw;
    padding: 3.5vw 0 0;
  }

  .nav ul li a.current{
    padding-top: 3.0vw;
  }

  .btn_wl{
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 1.3vw;
    line-height: 25px;
  }

  /* SNS MENU */
  .sns{
    top: 20vh;
    left: 3vw;
    margin-top: unset;
  }
}


@media screen and (max-width: 1024px){
  .sns ul li a, .sns ul li button:not(.btn_login){
    width: 78px;
    height: 78px;
  }

  .sns ul{
    gap: 52px;
  }

  .gnb{ 
	/*background: rgba(0,0,0,0.2); */
	padding: 26px 15px; 
  } 

  .cont_share_2{
	top: 90%;
	right: 16px;
  }

  .gnb .cont_share_2 a{
	width: 3rem;
	height: 3rem;
  }
  
  .btn_nav_open{
    margin-top:0;
  }

   .btn_login, .btn_login_m {
		position: relative;
		width: 100px;
		height: 2.2rem;
		background: #3f3f3f;
		border: 1px solid #616161;
	}

  .btn_wl{
    margin: 10px 0;
  }

  .content h3{
    letter-spacing: 20px;
  }

  .content h4{
    font-size: 40px;
  }

  .description{
    line-height: 1.5;
    padding: 0 1rem;
  }

}

@media screen and (max-width: 520px){
  .mypage_2{
	width: 90%;
  }
}