.popup,
.popup * {
  box-sizing: border-box;
}
.popup {
  background: linear-gradient(to left, #ffffff, #ffffff);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.pop-deco-top {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;

}
.pop-deco-top-left {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
  background-image: url(../images/tr-010.png); /*0218추가*/
  background-repeat: no-repeat; /*0218추가*/
}
.tr-01 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1;
}
.pop-deco-top-center {
  flex: 1;
  height: 40px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.pop_top_center{width: 100%;  height: 40px;
  background-position:top; /*0218추가*/
  background-image: url(../images/pop-deco-top-center0.png); /*0218추가*/
  background-repeat:repeat-x; /*0218추가*/	
}/*0218추가*/
.pop_bottom_center{width: 100%;  height: 40px;
  background-position:top; /*0218추가*/
  background-image: url(../images/pop-deco-bottom-center0.png); /*0218추가*/
  background-repeat:repeat-x; /*0218추가*/	
}/*0218추가*/

.pop-deco-top-right {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position:relative;
  overflow: hidden;
  aspect-ratio: 1;
  background-image: url(../images/tr-020.png); /*0218추가*/
  background-repeat: no-repeat; /*0218추가*/
}
.tr-02 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1;
}
.pop-wrap {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  background-position:left,right; /*0218추가*/
  background-image: url(../images/pop-deco-left0.png),url(../images/pop-deco-right0.png);
  background-repeat:repeat-y; 
  /*0218추가*/	
	
}
.pop-deco-left {
  align-self: stretch;
  flex-shrink: 0;
  width: 40px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.pop-cont {
  padding: 30px 50px; /*0218추가*/
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.pop-ttl, .pop_title {
  color: #3c2f23;
  text-align: left;
  font-size: 35px;
  letter-spacing: -0.06em;
  font-family: GmarketSansBold;
  font-weight: 700;
  position: relative;
}
.pop-bar {
  background: linear-gradient(
    90deg,
    rgba(195, 181, 171, 0) 0%,
    rgba(195, 181, 171, 1) 31.00000023841858%,
    rgba(195, 181, 171, 1) 66.00000262260437%,
    rgba(195, 181, 171, 0) 100%
  );
  align-self: stretch;
  flex-shrink: 0;
  height: 2px;
  position: relative;
}
.pop-desc {
  color: #3c2f23;
  text-align: left;
  font-family: GmarketSansMedium;
  font-size: 18px;
  letter-spacing: -0.07em;
  font-weight: 500;
  position: relative;
}

.pop-desc-s{
    color: #91763F;
    font-size: 28px;
    font-weight: 600;
}

.pop-desc-xs{
    color: 3C2F23;
    font-size: 18px;
    font-weight: 700;
}

.pop-table {
  border-style: solid;
  border-color: var(--500, #b3a498);
  border-width: 1px 0px 0px 1px;
  padding: 1px 0px 0px 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.cont-desc {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 127px;
  position: relative;
}
.box-desc {
  border-style: solid;
  border-color: var(--500, #b3a498);
  border-width: 0px 1px 1px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.pop-desc-2 {
  color: var(--700, #3c2f23);
  text-align: center;
  font-family: GmarketSansMedium;
  font-size: 13px;
  letter-spacing: -0.07em;
  font-weight: 500;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont-desc2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.box-desc-2 {
  border-style: solid;
  border-color: var(--500, #b3a498);
  border-width: 0px 1px 1px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.poptable {
  border-style: solid;
  border-color: var(--500, #b3a498);
  border-width: 1px 0px 0px 1px;
  padding: 1px 0px 0px 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.pop-desc-22 {
  color: var(--700, #3c2f23);
  text-align: center;
  font-family: GmarketSansMedium;
  font-size: 13px;
  letter-spacing: -0.07em;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 24.5px);
  top: 50%;
  translate: 0 -50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pop-desc-23 {
  color: var(--700, #3c2f23);
  text-align: center;
  font-family: GmarketSansMedium;
  font-size: 13px;
  letter-spacing: -0.07em;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 46px);
  top: 50%;
  translate: 0 -50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pop-desc-notice {
  color: #3c2f23;
  text-align: left;
  font-family: GmarketSansMedium;
  font-size: 13px;
  letter-spacing: -0.07em;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.btn-pop-ok {
  background: #000000;
  border-radius: 8px;
  padding: 7px 50px 7px 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.pop-ok-desc {
  color: #ffffff;
  text-align: left;
  font-family: GmarketSansMedium;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.pop-deco-right {
  align-self: stretch;
  flex-shrink: 0;
  width: 40px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.pop-deco-bottom {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.pop-deco-bottom-left {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
  background-image: url(../images/tr-030.png); /*0218추가*/
  background-repeat: no-repeat; /*0218추가*/
}
.tr-03 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1;
}
.pop-deco-bottom-center {
  flex: 1;
  height: 40px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.pop-deco-bottom-right {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
  background-image: url(../images/tr-040.png); /*0218추가*/
  background-repeat: no-repeat; /*0218추가*/
	
}
.tr-04 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1;
}


/***************
POPUP
****************/
.popup_wrap{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -255px;
    margin-top: -300px;
    padding-top: 100px;
    z-index: 500;
}

.popup_wrap.show{
    display: block;
}

.popup{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 999;
    background: url(../images/bg_popup.png) no-repeat center 0;
}

#pc_pop_btn{
    position: relative;
}

#pc_pop_btn a{
    position: relative;
    width: 331px;
    height: 87px;
    background: url('../images/event_join_btn_2.png') no-repeat center / contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pc_pop_btn a::after{
    position: absolute;
    content: "";
    opacity: 0;
    transition: 0.3s all;
    background: url('../images/event_hover_join_btn_2.png') no-repeat center / contain;
    width: 100%;
    height: 100%;
}

#pc_pop_btn a:hover::after{
    opacity: 1;
}

.btn_close{
    position: absolute;
    top: 0;
    left: 50%;
    width: 69px;
    height: 69px;
    margin-left: -34px;
    font-size: 0;
    background:url('../images/btn_close.png') no-repeat center / cover;
    z-index: 3;
}

.popup_logo{
    width: 250px;
    height: 35px;
    background: url(../images/logo.png) no-repeat 0 / cover;
    font-size: 0;
}

.popup_txt{
    margin: 25px 0 40px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #4c4955;
}

.btn_gopage{
    font-size: 16px;
    padding: 15px 50px;
    color: #fff;
    background: #787062;
}

.btn_gopage:hover{
    background: #373025;
}

/* .popup_mask{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0 ,0 ,0 ,0.5) url('../images/bg_gradient_black.png') repeat-x 0 bottom / cover;
    z-index: 2;
} */
.popup_mask.show{
    display: block;
}

/* .pop-wrap-desc{
    height: 140px;
} */

/* POPUP. 공통 */
.wrap_pop{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
	z-index: 800;
}

.popup_layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url('../images/pop_check_please.png') no-repeat center / 100% 100%;
    position: fixed;
    width: 90%;
    max-width: var(--pop-max-witdh);
    max-height: 80vh;
    padding: 1.5rem 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 600;
    
}

.popup_layout.pink {
    background: url("../images/popup_url.png") no-repeat center / 100% 100%;
}

.popup_layout.pink .ok_btn_box button{
    width: 121px;
    height: 40px;
    background: url("../images/btn_pop_url.png") no-repeat;
    font-size: 1rem;
    color: #fff;
}

.desc_pop {
    margin: 1.5rem 0;
}

#wrap_pop_essential,
#wrap_pop_collection {
    display: none;
}

#wrap_pop_result .popup_layout,
#wrap_pop_link_save .popup_layout {
    max-width: var(--pop-max-witdh-sm);
}

/* POPUP. 이벤트 유의사항 */
#wrap_pop_event_notice{
    display: none;
}

.pop_notice_ttl{
    color: var(--color_b_1);
}

.pink .pop_notice_ttl{
    color: var(--color_pk_1);
}

.desc_pop_notice {
    margin: 0 0 1rem 0;
}

.pop_pad {
    padding: 25px 0;
}

.check_bg {
    background: #000;
    z-index: 200;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 65%;
}

.check_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url('../images/popup_advance_2.png') no-repeat center / 100% 100%;
    width: 705px;
    height: 685px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    z-index: 700;
}

.box_collection {
    display: flex;
    margin-bottom: 5px;
}

.box_collection > p {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.5rem;
    font-size: var(--font-xxs);
}

.desc_pop div:first-of-type > p {
    background-color: rgba(255, 255, 255, 0.2);
}

.desc_pop_collection_1{
    flex: 3;
    margin: 0 5px 0 0;
}

.desc_pop_collection_2 {
    flex: 7;
}

.pop-common-cont{
    gap: 30px;
}

.num-invite, #num_friend_phone{
    flex: 1;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    border: none;
    color: #fff;
    background: rgba(0, 0, 0, 0.40);
}

.btn_num_invite{
    width: 170px;
    height: 40px;
    font-size: 20px;
    background-color: #91763F;
}

#num_invite_phone::placeholder, #num_invite_url::placeholder, #num_friend_phone::placeholder {
    color: #fff;
    font-weight: 400;
}

.box_num_invite{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.pop-friend-desc{
    color: #91763F;
    font-size: 18px;
}

.pop-friend-wrap{
    height: 160px;
}

.friend_area{
    display: flex;
}

@media screen and (max-width: 1024px){
  .popup{
    transform: scale(1.38);
  }

  #pop_desc .popup{
    transform: scale(0.9);
  }

  #popup_friend .popup{
    transform: scale(1.25);
  }

  #pop_desc .pop_title{
    text-align: center;
  }

  .box-desc-2, .box-desc{
    height: 60px;
  }
  
  .pop-desc-2, .pop-desc-23, .pop-desc-22, .pop-desc-notice{
    font-size: 20px;
  }
}