@charset "utf-8";

@media screen and (max-width : 690px) and (orientation: portrait) {
  .char_description{
    right: 40px;
  }

  #class .swiper-pagination{
    left: 60px;
  }
}

@media screen and (max-width: 1660px){
  .wold_char_left, .wold_char_center, .wold_char_right{
    display: none;
  }
}

@media screen and (max-width: 1270px){
  .video {
    height: 100vh;
    width: auto;
    margin: 0 auto;
  }

  .airdrop_cont{
    transform: scale(0.8);
  }

  .char_rota{
    width: 30%;
    top: 120px;
  }

  .btn_wrap{
    right: 0;
  }

  .ev_char_tioka{
    width: 30%;
    right: 0;
  }

.wrap_advance{
	transform: scale(0.8) translate(-60%, 0);
    left: 50%;
  }
    /* 04_2. fevent */
}

@media screen and (max-width: 1480px){
  .container{
    /* min-width: 1920px; */
  }
}

@media screen and (max-width: 1336px){  
  .desc_center {
    padding: 1rem 0 0;
  }

  h3{
    padding: 40px 0 0;
  }

  /* 02. Advance */
  #advance{
     background: url('../images/bg_advance_3.jpg') no-repeat center / cover;
  }

  .logo_box{
    width: 60% !important;  
  }

  .ani_box{
    width: 80% !important;
  }
}

@media screen and (max-width: 1200px){
  #pre .content{
    transform: translate(-50%, -50%) scale(0.75);
  }

  .pre_char_1{
    width: 700px;
    right: 100px;
  }

  .pre_char_2{
    width: 260px;
  }

  .pre_char_3{
    width: 230px;
  }

  .cont-ev-1, #inv .content{
    transform: translate(-50%, -50%) scale(0.75);
  }

  .wrap_char,
  #game .game_slide,
  #media .title, .mySwiper2 {
    transform: scale(0.75);
  }

  .media_slide{
    gap: 0;
  }
}

@media screen and (max-width: 1024px){
  .wrap_char, #game .game_slide, #media .title, .mySwiper2{
    transform: unset;
  }

  .logo_box, .ani_box{
    width: 100% !important;
  }

  .btn_play{
    width: 200px !important;
    height: 100% !important;
  }
  

  .cont-ev-1, #inv .content{
    transform: unset;
    position: unset;
  }

  .container{
    overflow: hidden;
  }
  .title{
    font-size: 84px;
  }

  #main-page{
    background-position: 50%;
    height: 100vh !important;
    min-height: 1070px;
  }

  .main_box{
    justify-content: space-around !important;
    gap: 50px;
    max-height: 1080px !important;
  }

  #advance, #inv, #intro{
    height: 2000px !important;
  }

  #pre{
    background: url(../images_pre/m_advance.png) center center / cover no-repeat !important;
    height: 2490px !important;
  }

	.section,
	.grid{
		height:auto;
	}

  .btn_muted{
    right: unset;
    left: 50%;
  }

  .cont_fevent_wrap, .cont_cevent_wrap, .cont_mevent_wrap, .world_text, .vote_box::after,.mevent_guide::after{
    opacity: 0;
  }

  .pre_img_char_box{
    display: none;
  }

  #pre .sub-title{
    flex-direction: column;
    width: unset;
    height: unset;
  }

  #pre .content{
    width: 100%;
    bottom: 10%;
    transform: unset;
    top: unset;
    left: unset;
    padding: 0 20px;
  }

  .m_pre_title_1{
    font-size: 8vw;
  }

  .m_pre_title_2{
    font-size: 11vw;
  }

  .sub-deco-box{
    width: 670px;
  }

  /* POP Up */
  .pc_pop{
    display: none;
  }

  .pc_popup_bg{
    display: none;
  }

  .m_pop{
    display: block;
    margin: 0 auto;
  }

  .m_popup_bg{
    display: block;
  }

  .pop_close{
    right: -10px;
    top: 10px;
  }

  #pc_pop_btn{
    bottom: 11px;
  }

  #m_pop_btn{
    display: block;
    width: 370px;
    margin: 0 auto;
    position: relative;
    bottom: 130px;
  }

  .cont_vote,
  .cont_vevent,
  .cont_fevent_wrap,
  .cont_cevent_wrap,
  .cont_mevent_wrap,
  .wrap_char {
    transform: scale(1);
  }

  /* 01. Intro */
  .video{
    transform: translate(-50%, 0);
    margin-left: 50%;
    object-fit: contain;
  }

  h2 {
    width: 65vw;
	height: 123px;
    margin-bottom: 3vw;
  }
  
  h3{
    font-size: 3.5rem;
  }

  .intro_txt {
    margin-top: 10vw;
  }

  .intro_txt strong{
    display: block;
    margin-top: 20px;
  }

  .content{
    height: auto;
  }

  .desc_center {
    padding: 2rem 0 3rem;
}
  
  /* 02. Advance */
  #advance{
/*     height: 1800px !important; */
    background: url('../images/m/m_bg_advance_2.jpg') no-repeat center / cover;
    padding-bottom: 2rem;
  }


  #advance .decs_cerif{
	font-size: 1rem;
  }

  #advance .completed_1{
	font-size: 2.8rem;
  }

  #advance .desc_p_box{
    font-size: 1rem;
  }

  .m_ad_item{
	width: 90%;
	margin:0 auto;
  }

  .wrap_advance {
    width: 100%;
    max-width: 701px;
    height: 100%;
    background: url('../images/m/m_box_advance_3_1.png') no-repeat top / 100% 100%;
    transform: unset;
    left: auto;
  }

  .cont_advance_1{
    position: unset;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 90%;
  }

  .perks_1{
    position: unset;
    justify-content: space-between;
    max-width: 701px;
  }

  .perks_2{
    position: unset;
    justify-content: flex-start;
    width: 100%;
	max-width: 570px;
    height: 45%;
  }

  .box_desc_perks{
    
  }

  .bar{
	display: none;
    right: auto;
    bottom: -41%;
    top: unset;
    left: 50%;
    transform: rotate(90deg);
  }

  .event_peroid{
    justify-content: center;
    max-width: unset;
    width: 100%;
    max-height: 66px;
	padding: 0;
  }

  #advance .btn_check_google, #advance .btn_check_apple, #advance .btn_check_one {
    font-size: 0;
  }

  .box_certif_1{
    padding: 2rem 0;
  }

  .btn_certif{
    max-width: 500px;
	background: url(../images/btn_certif_2.png) no-repeat center / 100% 100%;
  }

  .com_1{
    padding: 2rem 1rem;
  }

  .essential{
    justify-content: center;
    height: 100%;
    max-height: 158px;
    margin-bottom: 1rem;
	padding: 2rem 1.5rem;
  }

  input[id="age"] + label, input[id="privacy"] + label, input[id="promotion"] + label {
    font-size: 1rem;
  }

  .agree{
    font-size: 0.6rem;
    font-weight: 800;
  }

  .code_text{
    height: 55px;
  }

  .input_code::after{
    right: -23%;
  }

  .btn_notice{
    font-size: 1rem;
    font-weight: 800;
	white-space: nowrap;
  }

  .perks_3{
    flex-direction: column;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .box_prk_3{
    width: 100%;
    height: 103px;
    align-items: center;
  }

  .cont_advance_2{
    position: unset;
  }

  .apply{
    max-width: 701px;
  }

  .btn_apply{
    max-width: 701px;
  }

  .notice_advance{
    padding: 0 1rem 2rem;
  }

  .cover_perks_1{
    width: 70%;
  }
  
  .cover_perks_2{
    width: 100%;
  }

  .perks_box_1, .perks_box_2, .perks_box_3, .perks_box_4, .perks_box_5{
    max-width: 188px;
    height: 196px;
  }

.desc_pop {
    overflow-y: scroll;
}

  /* 03. Vote */
  .grid_2{
	padding: 7rem 0 5rem;
  }
  #vote{
	height: 100% !important;
    background: url(../images/m/m_bg_vote.jpg) no-repeat center / cover;
  }

  .ttl_vote{
    width: 840px;
    background: url(../images/m/m_ttl_vote.png) no-repeat center / 100% 100%;
	margin: 4.5rem auto;
  }

  .coming {
    font-size: 4.4rem;
  }
  
  .ttl_vote p{
    font-size: 1.7rem;
  }

  .vote_box{
	width: 100%;
    max-width: 703px;
    height: 100%;
    background: url(../images/m/m_vote_main.png) no-repeat top / contain;
    padding: 2rem 0;
  }

  .vote_box::before{
	display: none;
  }

/*   .influencer{
	width: 100%;
    max-width: 263px;
    height: 100%;
  }

  .inf_img_s, .inf_img_c{
	width: 100%;
    max-width: 114px;
  }
 */
  /* 04. V_Event */
  #vevent{
	  height: 100% !important;
  }

  .box_photo{
    justify-content: center;
    width: unset;
	  padding: 1rem 0 2rem;
    margin: 0 auto;
  }

  .cont_vevent{
    width: 100%;
    max-width: 721px;
    height: 100%;
    background: url(../images/m/m_box_photo_2.png) no-repeat center / 100% 100%;
    padding: 3rem 0 0;
    opacity: 0;
  }

  .vevent_char,.cont_vevent::before, .cont_vevent::after{
	 display: none;
   }

  .box_photo, .card, .tip_bottom, .cont_vevent_bottom{
	 width: 100%;
   }

  .cont_vevent_bottom{
    left: 0;
    height: 20%;
  }

  .lump_vevent, .lump_box_photo, .box_photo_check{
    height: unset;
  }

  .box_evevt{
    width: 100%;
  }

  .card{
    width: 85%;
    padding-bottom: 1rem;
	  margin: 0 auto;
  }

  .card p {
    padding-bottom: 1rem;
    font-weight: 600;
  }

  .btn_notice_vevent{
	  position: absolute;
    right: 1%;
    bottom: -7%;
  }

  /* 04_2. fevent */
  .char_fevent{
    display: none;
  }  
  
  .cont_fevent {
    flex-direction: column;
  }

  /* 04_2. fevent */
  .cont_cevent .cont_left{
    display: none;
  }

  .cont_cevent .cont_right {
    margin-left: 0;
  }

  .calendar {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .calendar_info {
    flex-direction: column;
  }

  .how_get_calendar > p {
    text-align: center;
  }

  .notice_cevent{
    text-align: center;
  }

  .notice_cevent > p span {
     display: block;
     font-size: var(--font-m);
     padding: 0.5rem 0;
     border-bottom: 1px solid #dec3e8;
  }

  /* 04_4. mevent */
  .cont_mevent {
    flex-direction: column;
    background-position: center bottom;
    background-size: 100% 98%;
  }

  .cont_mevent .cont_left {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }

  .mevent_guide{
    text-align: center;
  }

  .m_card {
    position: unset;
    height: auto;
    width: 100%;
  }
  
  .char_sm{
    display: none;
  }

  .mytiket_current {
    margin: 2rem 0 3rem;
  }

  .mytiket_ttl{
    text-align: center;
    display: flex;
  }

  .mytiket_ttl::before,
  .mytiket_ttl::after {
    content: "";
    flex: 1;
    position: unset;
    width: calc(50% - 8rem);
    height: 2px;
    margin-top: 0.6rem;
    background-color: #c8cacb;
    box-shadow: inset 1px 1px 1px #878989;
    transform: translateY(-50%);
  }

  .mytiket_ttl::before {
    right: 0;
  }

  .mytiket_ttl::after {
    left: 0;
  }

  .mytiket_ttl span{
    position: relative;
    padding: 0 1rem;
  }

  .mytiket_ttl span::before,
  .mytiket_ttl span::after{
    content: "";
    position: absolute;
    top: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #c8cacb;
    border-radius: 50%;
    box-shadow: inset 1px 1px 1px #878989;
    transform: translateY(-50%);
    z-index: 10;
  }

  .mytiket_ttl span::before{
    left: -0.5rem;
  }

  .mytiket_ttl span::after{
    right: -0.5rem;
  }

  /* 06. World */
  #world{
    height: 100% !important;
    padding-bottom: 4rem;
  }

  .world_cont{
    padding: 0 15px;
  }

  .world_text{
    max-width: 704px;
    height: 977px;
    background: url(../images/m/m_world_text.png) no-repeat center / cover;
    padding: 0 2rem;
  }

  .mobile_world{
	  display: flex;
	  flex-direction: column;
    justify-content: center;
	  align-items: center;
    justify-content: space-around;
    text-align: center;
    max-width: 704px;
    height: 977px;
    background: url(../images/m/m_world_text.png) no-repeat center / cover;
    padding: 0 2rem;
	  margin: 0 auto;
    
  }

  .desc_world{
    font-size: 1.3rem;
    font-weight: 200;
  }

  .desc_world_m{
	  display: none;
  }

  /* 07. Character */



  #character h3{
    padding: 3.5rem 0 3rem;
  }

  .wrap_char{
    max-width: 702px;
    height: unset;
  }

  .flex_char{
    max-width: 702px;
    height: 1183px;
    background: url(../images/m/m_bg_cont_characteristic.png) no-repeat top / 100% 100%;
    margin: 0 auto;
  }

  .flex_char::before, .flex_char::after{
    display: none;
  }

  .box_char{
    position: unset;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
  }

  .char{
    max-width: 781px;
    height: 611px;
  }

  .desc_char{
    position: unset;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 87%;
    height: 100%;
    padding-top: 0.5rem;
    margin: 0 auto;
  }

  .flex_char{
    flex-direction: column;
    justify-content: flex-start;
    height: 100% !important;
    max-height: 1183px !important;
    padding: 2rem 0 3rem;
  }

  #character .swiper-slide h4{
    font-size: 4.3rem;
    padding: 1.2rem 0;
  }

  .name_tag{
    flex-direction: column;
    align-items: center;
  }

  .char_introduction{
    width: 100%;
    font-size: 1.7rem;
    text-align: center;
    line-height: 1.2;
  }

  .box_char img{
    width: 90%;
    height: 100%;
  }

  #character .swiper-pagination{
    position: unset;
    width: 100%; 
    padding-top: 15%;
  }

  /* #character .swiper-button-prev, #feature .swiper-button-prev{
    left: 11.6%;
  }

  #character .swiper-button-next, #feature .swiper-button-next{
    right: 11.6%
  } */

  .box_voice{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  #feature{
    height: 80vh !important;
  }

  .wrap_feature{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 75%;
  }

  #feature .swiper-button-next, #feature .swiper-button-prev{
    display: none;
  }

  #feature .swiper-pagination{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: unset;
    width: 15%;
    margin: 0 auto;
    padding-top: 2rem;
  }
  
  #feature  .swiper-pagination-bullet{
    width: 1rem;
    height: 1rem;
    border-radius: 0;
    transform: rotate(135deg);
  }
  
  #feature  .swiper-pagination-bullet{
    background-color: #fff;
  }
}

@media screen and (max-width: 1366px){
  #main-page{
    background-position: 40% !important;
  }
}


@media screen and (max-width: 840px){
  .ttl_vote{
    width: 100%;
  }

  .coming{
    font-size: 3rem;
  }

  .ttl_vote p {
    font-size: 1.4rem;
  }

  .main_store{
	width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .main_one_btn{
    margin: 1rem 0;
  }

}

@media screen and (max-width: 720px){
  .popup_wrap{
    margin-left: -200px;
  }

  .popup{
    width: 400px;
    height: 400px;
    background-size: cover;
  }

  .v_add_form {
    width: 90%;
  }

  /* 04_2. fevent */
  .cont_cevent_wrap {
    background: url('../images/m/m_cont_cevent.png') no-repeat center / 100% 100%;
  }

  .cld_wrap{
    display: none;
  }
  
}

@media screen and (max-width : 520px){
	h3{
	  font-size: 3rem
	}

	.main_google_btn, .main_one_btn, .main_apple_btn {
		width: 180px;
		height: 60px;
	}

   .check_cont{
	 width: 100%;
     background: url(../images/m/m_popup_advance.png) no-repeat center / contain;
   }

   .btn_pop_ok_b{
	  bottom: -25%;
   }

   .pop_pad {
     padding: 10px 0;
   }

  .desc_pop_notice {
	  padding: 0 0 1.2rem 0;
  }

   .check p {
     font-weight: 800;
   }

  .input_group label {
    flex: 2.5;
  }

  .agree_pp .ok_btn_box {
    padding-top: 1rem;
  }

   /* 02. Advance */
  .event_peroid p{
     left: 4%;
   }

  /* .box_desc_perks {
    height: 90px;
  } */

  .box_desc_perks{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
  }

  .perks_box_btn{
    width: 80%;
  }

  #advance .desc_perks_deco{
    right: -5%;
    font-size: 1rem;
  }

  .check{
      padding-bottom: 2rem;
  }

 .desc_pop{
	  border: 1px solid #007aff6b;
    padding: 1rem;
  }

  #wrap_pop_link_save .desc_pop,
  #wrap_pop_result .desc_pop{
    border: none;
  }

  .ok_btn_box{
	padding-top: 3rem;
  }

  .desc_pop::-webkit-scrollbar {
    width: 5px;
  }

  .desc_pop::-webkit-scrollbar-thumb {
    height: 30%;
    background: #007aff6b;
  }

  .com_1{
    padding: 1rem 1rem;
  }

  .box_certif_1 {
    padding: 1rem 0;
  }

  .essential {
    padding: 0.5rem 1.5rem;
	margin-bottom: unset;
  }

  /* .cover_perks{
    flex-wrap: wrap;
    width: 90%;
  } */

  /* .perks_box{
    margin-bottom: 1rem;
  } */

  .perks_phrases{
    display: none;
  }

  /* .perks_2{
    width: 90%;
    height: 35%;
  } */

    input[id="age"] + label{
		padding: 0 0 5px 25px;
	}

	input[id="privacy"] + label, input[id="promotion"] + label{
		padding: 0 0 10px 25px;
	}

  .input_code::after{
    display: none;
  }

  .perks_3{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .one_btn{
    margin: 0 0.8rem;
  }

  /* .cont_advance_2{
    bottom: 1%;
  } */

  .vote_box{
	max-width: 520px;
    height: 120%;
    background: url(../images/m/m_vote_sub.png) no-repeat top / contain;
  }

  .vote_lump{
	height: auto;
  }

  .influencer_box{
	padding: 0.3rem 0.3rem 1rem;
  }

  .box_photo{
    width: 85%;
  }

  .cont_vevent_bottom{
	height: 12%;
  }

  .btn_notice_vevent{
    right: 5%;
    bottom: -5%;
  }

  .lump_box_photo{
	width: 100%;
  }

  .card{
	flex-direction: column;
    align-items: center;
  }

  .card p{
    text-align: center;
  }

  .world_cont{
    justify-content: space-evenly;
  }

  .world_text{
  	height: 100%;
    background: url(../images/m/m_world_text_2.png) no-repeat center / 100% 100%;
	padding: 4rem 1rem;
  }

  .desc_world{
	font-size: 1.1rem;
  }

  #feature .swiper-pagination{
	width: 45%;
  }
}

@media screen and (max-width: 480px){
	.world_cont{
		padding: 3rem;
	}

	input[id="promotion"] + label{
		margin: 0;
	}

	input[id="age"] + label, input[id="privacy"] + label, input[id="promotion"] + label{
		font-size: 0.8rem;
		font-weight: 600;
	}

  .check_please{
	width: 80%;
	top: 30vh;
    /* background: url(../images/m/m_pop_bg.png) no-repeat center / contain; */
  }

  .check_cont{
    transform-origin: left;
    width: 350px;
    height: 70vh;
    background: url(../images/m/m_popup_advance_2.png) no-repeat center / 100% 100%;
  }

  .learn_check_close{
  	top: 4%;
    right: 8%;
  }

  .popup_wrap {
    margin-left: -160px;
  }

  .popup {
    width: 320px;
    padding: 50px 20px 70px;
    margin: 0 auto;
    height: auto;
  }

  #advance p{
    font-size: 1.1rem;
  }

  .cover_perks_1 {
    width: 90%;
  }

  .btn_check_google, .btn_check_apple, .btn_check_one{
    width: 110px;
    height: 34px;
	margin-left: 0.3rem;
  }

  .check_stroe{
    width: 40%;
    max-width: 95px
  }

  [type="radio"]{
    width: 1rem;
    height: 0.8rem;
  }

  .box_photo{
    width: 100%;
  }

  #character{
    height: 1240px !important;
  }

  #character .swiper-slide h4{
    padding: 1rem 0;
  }

  #character .swiper-button-prev, #character .swiper-button-next, #feature .swiper-button-next, #feature .swiper-button-prev{
	top: 41%;
  }

  #character .swiper-button-prev{
	left: -4%;
  }

  #character .swiper-button-next{
	right: -4%;
  }

  .char_introduction{
	width: 81%;
    font-size: 1rem;
  }

  .perks_box_1, .perks_box_2, .perks_box_3, .perks_box_4, .perks_box_5 {
      max-width: 188px;
      height: 136px;
  }

  .desc_world{
    font-size: 1rem;
  }

  .cont_advance_2{
	height: 77px;
  }

  /* #character .grid{
    height: 50%;
  } */

  #character .swiper-pagination{
    bottom: -25vh;
  }

  .flex_char{
	    padding: 0 0 3rem;
  }

  .mobile_world{
	padding: 0 1rem;
  }

  .agree_check {
/*     flex-direction: column; */
    align-items: flex-start;
/*     margin: 0.5rem 0; */
  }

/*   .agree_check > a{
    margin: 0.5rem 0 0 2rem;
   } */
}

@media screen and (max-width: 430px){
  /* 02. Advance */
  /* .box_desc_perks {
    height: 65px;
  }

  .perks_box{
    max-width: 100px;
  }

  [type="radio"]{
    width: 1em;
    height: 1em;
  }

  .btn_check_google, .btn_check_apple, .btn_check_one{
    width: 80px;
    margin-left: 5px;
  }

  .box_certif_1 {
    padding: 1rem 0;
  }

  .essential{
    max-height: 118px;
  }

  .cont_advance_2{
    bottom: -7%;
  }

  .box_prk_3{
    padding: 1rem;
  }

  .btn_apply{
    height: 110px;
  } */

}

@media screen and (max-width: 375px){
  /* .perks_1 {
    height: 45%;
  } */

  #advance {
  /*  height: 1400px !important;*/
  }

  
  #character{
    height: 1080px !important;
  }

  #advance h3 {
    font-size: 2.6rem;
  }
  
  .perks_box {
    height: 140px;
  }

  .perks_badge_1{
    width: 47px;
    right: 0;
  }

  .essential{
  /*  max-height: 115px;*/
  }

  #advance .desc_p_box, .desc_p_box{
    height: auto;
    transform: translateY(2.5rem);
	}
	.perks_box {
		margin: 4px;
		display: flex;
		align-items: center;
	}

/*   .box_certif_1 {
    padding: 0;
  } */

  .coming{
    font-size: 2rem;
  }

  .ttl_vote p {
    font-size: 0.8rem;
  }

}

/* ipad-Pro */
@media screen and (max-width: 1366px) and (orientation : landscape) {
  .video{
    object-fit: cover;
    height: 100vh;
  }

  .buy_nfts{
    top: 845px;
  }

  .road_nft{
    transform: translate(-50%, 0) scale(1.2);
  }

  .pre_cont{
    transform: scale(0.9);
  }
} 

/* ipad-Pro - ���θ�� */
@media screen and (max-width : 1024px) and (orientation: portrait) {
    /* POP Up */
    .pop_cont{
      width: 90%;
      max-width: 500px;
    }
  
    .pop_img{
      width: 100%;
      position: relative;
    }
  
    .pc_pop{
      display: none;
    }
  
    .pc_popup_bg{
      display: none;
    }
  
    .m_pop{
      display: block;
      width: 100%;
      margin: 0 auto;
    }
  
    .m_popup_bg{
      display: block;
    }
  
    #pc_pop_btn{
      display: none;
    }
  
    #m_pop_btn{
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      width: 100%
    }
  
    #m_pop_btn a{
      width: 50%;
    }
  
    #m_pop_btn a img{
      width: 100%;
    }
  
    .pop_close img {
      width: 100%;
    }
  
    .pop_close{
      width: 10%;
    }
  
    .pop_close a{
      width: 100%;
    }
}
/* //ipad-Pro */

/* ipad-Air */
/* ipad-Air - ���θ�� */
@media screen and (max-width : 1180px) and (orientation : landscape) {
  .gameplay_slide_wrap{
    transform: scale(0.8);
    margin-top: -30px;
  }

  .roadmap_cont{
    height: 80vh;		
    transform: scale(0.9);
  }

  #footer .wrap, .policy{
    padding: 20px 50px;
  }
} 

/* ipad-Air - ���θ�� */
@media screen and (max-width : 820px) and (orientation: portrait) {
  .warrior_char, .assassin_char, .archer_char, .scolar_char, .mage_char{
    position: absolute;
    top: -60px;
    transform: scale(0.8);
  }

  .char_description{
    top: 65vh;
    right: 10vw;
  }

  #class .swiper-pagination{
    top: 54vh;
    left: 17vw;
    transform: scale(0.85);
  }

  .char_description{
    top: 58vh;
    right: 17vw;
  }
}
/* //ipad-Air */

/* ipad */
/* ipad - ���θ�� */
@media screen and (max-width : 1024px) and (orientation : landscape) {
  .grid_2{
    
  }

  .pop_cont{
    transform: scale(0.7);
  }

  .pop_close{
    right: 0;
    top: 22px;
  } 

  .coming {
    font-size: 3.2rem;
  }

  .ttl_vote{
    width: 60%;
    margin: 0 auto;
  }

  .ttl_vote p{
    font-size: 1.3rem;
  }

  .cont_girls{
    width: 100%;
  }
 
}

/* ipad - ���θ�� */
@media screen and (max-device-width : 768px) and (orientation: portrait) {
	.airdrop_cont{
		top: 0;
	}

  .swiper-slide-active .astel_char{
    margin-bottom: 60px;
  }
}
/* //ipad */

/* Mobile - MAX*/
/* Mobile - MAX - ���θ��*/
@media screen and (max-width : 915px) and (orientation: landscape) {
  #main-page{
    height: 1500px !important;
  }

  #pop_wrap{
    top: 10%;
  }
  
  .pop_cont{
    transform: scale(0.4);
  }

  .floating_banner{
    width: 165px;
    height: 300px;
    bottom: 10vh;
  }

  .floating_banner.hide{
    right: -150px;
  }

  .floating_banner.show{
    right: 15px;
  }

  .btns_banner{
    transform: scale(0.6);
    bottom: -15px;
  }

  .m_nav ul{
    margin-top: 60px;
  }

  .btn_muted{
	  transform: scale(0.6);
	  top: -1px;
	  right: 1vw;
  }

  .ob_cont{
    transform: translate(-50%, 0) scale(0.5);
    top: 10vh;
  }

  #intro {
    height: 100vh !important;
  }


  .intro_cont{
	  transform: scale(0.4);
  }

  .video{
    height: 100%;
  }

  .sns{
	transform: scale(0.8);
    top: 7vh;
	z-index: 800;
  }

  .pop_close{
    transform: scale(1.8);
    right: -10px;
    top: 10px;
  }

  .pre_notice{
    padding: 1rem;
  }

  #class .swiper-pagination{
    top: 56vw;
    transform: scale(0.73);
  }

  .char_description{
    top: 61vw;
    transform: scale(0.9);
  }

  #world{
    height: 100% !important;
    padding: 3rem 0;
  }

  #feature{
    height: 100% !important;
  }
}

/* Mobile - MAX - ���θ��*/
@media screen and (max-width : 590px) and (orientation: portrait) {
  .floating_banner {
    bottom: 5vh;
  }

  #event .ev2_cont1 h4, #event .ev_cont1 h4{
    font-size: 2rem;
  }

  .join_policy_details {
    margin: 0.7rem;
}

  .ob_cont{
    transform: translate(-50%, 0) scale(0.8);
    top: 20vh;
  }

  .pre_cont h4{
    font-size: 2rem;
  }

  #pre .pre_cont h3{
    font-size: 3rem;
    margin-bottom: 0;
  }

  .border_wrap{
    margin: 1rem;
  }

  .pre_check_cont{
    flex-direction: column;
  }

  .pre_check_wrap {
    margin: 1.7rem auto;
    justify-content: center;
  }

  .pre_policy_details{
    margin: 5px;
  }

  .pre_btn{
    width: 80%;
    margin: 0 auto;
  }

  .border_cont p{
    font-size: 1rem;
  }

  .table_right div h3:first-child{
    font-size: 1.6rem;
    padding: 0.8rem 0;
  }

  .aoa_c img, .aoa_nft img, .aoa_people img{
    margin: 0 1rem;
  }

  .aoa_c{
    padding-right: unset;
  }

  #airdrop .aoa_people img{
    width: 50%;
  }

  .policy_details{
    margin: 5px;
  }

  .aoa_medal img{
    width: 35%;
  }

  #airdrop .winners_txt, #airdrop .people_txt, #airdrop .inner_txt{
    font-size: 1.1rem;
  }

  #airdrop .reward_right, #airdrop .reward_left{
    padding: 1rem;
  }

  .notice_icon img{
    width: 90%;
    padding: 1rem;
  }

  .people_cont{
    padding: 0 1rem;
  }

  .period{
    white-space: pre-wrap;
  }

  #class .swiper-pagination{
    left: 13vw;
    transform: scale(0.8);
  }

  .char_description{
    transform: scale(0.8);
    left: 28vw;
    top: 55vh;
  }

  .warrior_m_effect, .assassin_m_effect, .archer_m_effect, .scolar_m_effect, .mage_m_effect{
    height: 640px;
  }

  .warrior_char, .assassin_char, .archer_char, .scolar_char, .mage_char{
    top: 50px;
    transform: scale(1.0);
  }
}
/* //Mobile - MAX*/

/* ���� - ������ �� - ���θ��*/
@media screen and (max-width : 772) and (orientation: portrait) {
	.char_description{
	  top: 490px;
	}
	
	#class .swiper-pagination{
      top: 440px;
    }

    .gelixir_hp{
      margin-top: -30vw;
    }

}
/* Pixel 4xl - ���θ��*/
@media screen and (max-width : 869px) and (orientation: landscape) {
  .char_description{
    right: 14vw;
  }
}

@media screen and (max-width : 730px) and (orientation: landscape) {
  .char_description {
    right: 15vw;
  }
}

/* Mobile - ���θ�� */
@media screen and (max-width : 450px) and (orientation: portrait) {
  .intro_btn{
    flex-direction: column;
  }

  .airdrop_join_btn{
    margin: 0;
  }


  .table_left div h3:first-child{
	  font-size: 30px;
  }

  .char_description{
    transform: scale(0.7);
    top: 49vh;
    left: 11vw;  
  }

  .mobile_world {
    max-width: 374px;
    height: 581px;
	margin: 0;
  }
}

/* //Mobile */
@media screen and (max-width : 720px) and (orientation: landscape) {
  .char_description{
    right: 12vw;
  }
}
/*

/* Mobile - MIN*/
/* Mobile - MIN - ���θ��*/
@media screen and (max-width : 667px) and (orientation: landscape) {
  .m_nav .btn_nav_close{
	top: 30px;
  }

  .m_nav{
	padding-top: 5vh;
  }
  
  .char_description{
    top: 120vh;
    right: 10vw;
  }

  #class .swiper-pagination{
    top: 106vh;
    left: 17vw;
  }

  .warrior_char, .assassin_char, .archer_char, .scolar_char, .mage_char{
    top: -70px;
  }
  .warrior_m_effect, .assassin_m_effect, .archer_m_effect, .scolar_m_effect, .mage_m_effect{
    height: 670px;
  }
}

/* Mobile - MIN - ���θ��*/
@media screen and (max-width : 375px) and (orientation: portrait) {
  #astel .swiper-button-prev, #astel .swiper-button-next{
    top: 112vh;
  }

  .event_period{
    transform: scale(0.8);
  }
      
  .announcement p:nth-child(1){
    white-space: nowrap;
  }   

  .warrior_m_effect, .assassin_m_effect, .archer_m_effect, .scolar_m_effect, .mage_m_effect{
    height: 510px;
  }

  .warrior_char, .assassin_char, .archer_char, .scolar_char, .mage_char{
    top: 10px;
    transform: scale(0.9);
  }

  .char_description{
    transform: scale(0.57);
    top: 42vh;
    left: 6vw;
  }

  #class .swiper-pagination{
    top: 34vh;
    transform: scale(0.45);
  }
}
/* //Mobile - MIN*/

/* Galaxy Fold*/
/* Galaxy Fold - ������ �� ���θ��*/
@media screen and (max-width : 717px) and (min-width : 680px) and (orientation: landscape) {
  .intro_cont{
    transform: scale(0.5);
  }

  .video{
    height: 100vw;
  }

  #class .swiper-pagination{
	  top: 80vh;
  }

  .warrior_char, .assassin_char, .archer_char, .scolar_char, .mage_char{
    top: -100px;
  }

  .char_description{
	  top: 90vh;
  }
}

 /* Galaxy Fold - ������ �� ���θ��*/
@media screen and (max-width : 512px) and (min-width : 420px) and (orientation: portrait) {
  .cont_down{
    top: 75vh;
  }

  #airdrop{
	  height: 2400px;
  }

  #class{
	  height: 950px;
  }

  #token{
	  height: 3550px;
  }
}

/* Galaxy Fold - ���θ��*/
@media screen and (max-width : 653px) and (orientation: landscape) {
  .sns{
/*     transform: scale(0.6);
    top: -3vh; */
  }

  #intro .intro_cont{
    transform: scale(0.3);
  }

  #intro .cont_down{
    margin-top: -8vw;
  }

  .buy_nfts{
    transform: scale(0.9);
  }

  .warrior_char, .assassin_char, .archer_char, .scolar_char, .mage_char{ top: 
  -30px; }

    .char_description{
    top: 200vh;
  }

  #class .swiper-pagination{
    top: 181vh;
  }
}

/* Galaxy Fold - ���θ��*/
@media screen and (max-width : 280px) and (orientation: portrait) {
  .sns{
/*     left: 4vw; */
  }

  #intro .cont_down{
    top: 65vh;
	transform: scale(0.5);
  }

  .table_right div h3:first-child{
    font-size: 25px;
  }

  .announcement p:nth-child(2), .announcement p:nth-child(3), .period 
  p:nth-child(2){ font-size: 13px; }

  #airdrop .reward_text h3{
    font: 18px;
  }

  #class{
	  height: 580px !important;
  }

  .essential{
    transform: scale(0.64);
  }

  .warrior_m_effect, .assassin_m_effect, .archer_m_effect, .scolar_m_effect, .mage_m_effect{
    height: 390px;
  }

  #class .swiper-pagination{
    top: 28vh;
    left: -1vw;
  }

  .char_description{
    top: 45vh;
    left: 5vw;
  }
  
  #token{
	height: 2450px !important;
  }

  .roadmap_list .bullet{
    left: -89px;
  }

  .roadmap_list li::before, .roadmap_list li::after{
    left: 10px;
  }

  .roadmap_list li .detail {
    font-size: 10px;
  }

  .rd_text{
    padding-left: 8vw;
  }

  #footer .footer_menu{
    width: 280px;
    padding: 0 20px;
  }

  .roadmap_list li .road{
    padding-left: 30px;
  }
}
/* //Galaxy Fold*/