@charset "utf-8";

.section{
    height: 1080px;
}

/***************
COMMON
****************/
.scrollLock {
  overflow: hidden;
 }

.hidden{
    opacity: 0;
    /* height: 0; */
    font-size: 0;
    transition: 0.3s all;
    cursor: default;
}

.show{
    display: block;
}

/***************
BUTTON
****************/
/* Btn. 이벤트 유의사항 */
.btn_notice_event {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 25px;
    line-height:var(--font-xxs);
    color:#ffffff;
    font-size:var(--font-xxs);
    background: rgba(255, 255, 255, 0.2);
}

.btn_notice_event::before {
    content: "";
    width: 1rem;
    height: 1rem;
    margin-right: 0.1rem;
    font-size: var(--font-xxs);
    line-height: var(--font-xxs);
    background: url('../images/icon_vevent.png') no-repeat center / 70% 70%;
}

/* Btn. 팝업 닫기 */
.btn_popupclose{
    text-align: right;
}

.btn_popupclose button{
    position: relative;
    font-size: 0;
    width: 2rem;
    height: 2rem;
}

.btn_popupclose button::before,
.btn_popupclose button::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background: #ffffff;
}

.btn_popupclose button::before {
    transform: rotate(45deg);
}

.btn_popupclose button::after {
    transform: rotate(135deg);
}




a.btn_disabled {
    color: #635c6a;
    pointer-events: none;
}

/***************
BUTTON
****************/

/* POPUP. 이벤트 당첨 - 주소 입력 */
/* #wrap_pop_event_address {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center;
} */

.popup_layout.popup_form {
    background: url('../images/pop_vevent.png') no-repeat center / 100% 100%;
    padding: 0;
}

.check_2 {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 0 3rem;
}

.popup_layout.popup_form .btn_popupclose button::before,
.popup_layout.popup_form .btn_popupclose button::after{
    background: #000000;
}

.check_add{

}

.check_add .ad_cg{
    font-weight: 700;
    color: var(--color_b_1);
}

.v_form_wrap {
    background-color: rgb(15, 149, 226, 0.5);
    width: calc(100% - 1rem * 2);
    padding: 1rem 0;
    margin: 0 auto;
}

.v_form_wrap input[type] {
    width: 100%;
    padding: 0.5rem 1rem;
    color: #000;
    line-height: var(--font-xs);
    border: 2px solid #0073b4;
    border-radius: 40px;
}

.v_form_wrap input[type]::placeholder {
    color: #d2d4d6;
}

.v_add_form {
    color: #fff;
    width:80%;
    margin: 0 auto;
}

.input_group{
    display: flex;
    margin: 0.5rem 0;
}

.input_group label{
    flex: 3;
    padding: 0.5rem 0;
    font-size: var(--font-xs);
    line-height: var(--font-xs);
}

.input_group > div {
    flex: 7;
}

.ad_1{
    display: flex;
}

.ad_1 input{
    flex: 3;
    margin-right: 10px;
}

.btn_add {
    flex:2;
    background-color: var(--color_b_2);
    color: #fff;
    border-radius: 30px;
    padding: 0 1rem;
}

#address_2 {
    margin: 0.5rem 0;
}

.agree_pp{
    padding: 0 2rem 2rem 3rem;
}

.v_check {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.v_check input[type=checkbox]{
    width: var(--font-xxs);
    height: var(--font-xxs);
}

.check_vch {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: var(--font-xxs);
    font-weight: 600;
}

.agree_ch {
    color: #0f95e2;
    border: 1px solid #0073b4;
    border-radius: 20px;
    padding: 4px 9px;
    font-size: var(--font-xxs);
    text-align: center;
}

.btn_pop_ok_ch {
    width: 175px;
    height: 55px;
    background: url("../images/btn_v_check.png") no-repeat;
    font-size: 1rem;
    color: #fff;
}

.btn_pop_ok_ch:disabled {
    width: 175px;
    height: 55px;
    background: url("../images/btn_v_check_disabled.png") no-repeat;
    font-size: 1rem;
    color: #fff;
    cursor: default;
}

.ok_btn_box {
    display: flex;
    justify-content: center;
}


/* #address {
    padding: 1rem;
    border: 2px solid #0073b4;
    border-radius: 40px;
    color: #000;
    width: 226px;
    line-height: var(--font-xs);
} */
.ttl_my {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.ttl_my p {
    margin-right: 2.8rem;
}

#postcode-wrap {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgb(0, 0, 0, 0.5);
}

#postcode-layer {}

.check p {
    font-weight: 800;
}

.check_close {
    display: flex;
    justify-content: end;
    width: 100%;
}

.check_close_2 {
    position: absolute;
    top: 10%;
    display: flex;
    justify-content: end;
    width: 90%;
}

#wrap_pop_code_save {
    display: none;
}

#wrap_pop_link_save {
    display: none;
}

#wrap_pop_link_save p {
    text-align: center;
}


#wrap_pop_promotional {
    display: none;
}

#wrap_pop_promotional p {
    width: 80%;
    text-align: center;
}

/* POPUP. 결과  */
#wrap_pop_result {
    /* display: block; */
}

.result_txt {
    text-align: center;
    color: #ffffff;
    margin-bottom: 2rem;
}

#wrap_pop_result .popup_layout {
    background: url('../images/popup_bg_result_01.png') no-repeat center / 100% 100%;
}


/***************
Air Drop Check
****************/



/***************
Obtainable Item List
****************/
/* #Obtainable{
  display: none;
} */

.ob_wrap{
    display: none;
}

.ob_cont{
    width: 100%;
    max-width: 661px;
    background-color: #72543c;
    border: 3px solid #f8cb88;
    border-image-slice: 1;
    background-origin: border-box;
    border-radius: 15px;
    position: fixed;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
    padding: 10px;
}

.ob_stroke{
    border: 2px solid #8a6d55;
    border-radius: 15px;
    text-align: center;
    color: #7a654c;
}

.ob_check_close{
    position: absolute;
    right: 20px;
    top: 20px;
}

.ob_txt{
    font-size: 40px;
    font-family: Centaur;
    color: #f9dec5;
    margin: 53px auto 10px;
}

.ob_bar{
    width: 70%;
    height: 2px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(203,182,163,1) 50%, rgba(255,255,255,0) 100%);
    margin: 0 auto;
}

.ob_desc{
    font-size: 20px;
    font-weight: 400;
    color: #f9dec5;
    margin: 10px;


}

.ob_sub_cont{
    background: #000;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ob_sub_desc{
    font-size: 18px;
    font-weight: 600;
    color: #cbb6a3;
    padding: 1rem;
    background: #000;
    border-radius: 10px;
    margin: 10px;
}



/***************
01. MAIN
****************/
#main-page{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url('../images/bg_main.jpg') no-repeat 100% / cover;
}

.main_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-height: 770px;
    z-index: 3;
}

.intro_cont{
    /* position: absolute; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    width: 100%;
    height: 100%;
    padding: 3rem 1rem;
}

h2{
    width: 600px;
    height: 320px;
    margin-bottom: 1.25rem;
    background:url('../images/logo.png') no-repeat center / contain;
    text-indent: -9999px;
}

.mask{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
	background-color: rgb(0 0 0 / 55%);
}

.btn_play{
    width: 129px;
    height: 146px;
    background:url('../images/btn_play.png') no-repeat center / contain;
    text-indent: -9999px;
    transition: all 0.3s;
}

/* .btn_play:hover{
    filter: drop-shadow(0px 0px 6px rgb(255, 255, 255, 1));
    transition: all 0.3s;
}

.btn_play:hover::after{
    opacity: 1;
    transition: all 0.3s;
} */



.btn_main_pre{
    width: 503px;
    height: 123px;
    background:url('../images/btn_main_pre.png') no-repeat center / contain;
}

.popup_video_mask{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  align-items:center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0 ,0 ,0 ,0.8);
  z-index: 999;
  overflow: hidden;
}

.popup_video{
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
	max-width: 800px;
    min-width: 200px;
    margin-top: -3rem;
}

.popup_video button{
	margin-bottom: 40px;
}

#youtubePlayer {
    width: 100%;
    height: 50vh;
}

#youtubePlayer iframe{
    width: 100%;
	height: 100%;
}


/***************
COMMON
****************/
.scrollLock {
    overflow: hidden;
}

.content{
    height: 1080px;
    padding-top: 120px;
}

.section h3{
    font-weight: 600;
    opacity: 0;
}

.content h4{
    text-align: center;
    font-weight: bold;
}

.description{
    text-align: center;
}


.grand_open{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0 0 0;
    align-items: center;
}

.grand_open p, .grand_open h5{
    color: #f9d776;
    text-shadow: 0 0 20px #000;
    font-size: 1.5rem;
}

.grand_open p{
    font-weight: 400;
}

.grand_open h5{
    font-weight: 600;
}

/***************
POPUP
****************/
#wrap_pop_check_please{
    display: none;
    overflow: hidden;
}

.check_please{
    display: flex;
	flex-direction: column;
    justify-content: space-around;
    background: url(../images/pop_check_please.png) no-repeat center / 100% 100%;
    width: 100%;
    max-width: 636px;
    height: 330px;
    position: fixed;
    top: 35vh;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
}

.check_please_2{
	display: flex;
	flex-direction: column;
    justify-content: space-around;
    background: url(../images/pop_check_please.png) no-repeat center / contain;
    width: 100%;
    max-width: 636px;
    height: 330px;
    position: fixed;
    top: 35vh;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
}



/***************
Air Drop POP Up
****************/
#pop_wrap.show{
    display: flex;
    justify-content: center;
    align-items: center;
}

#pop_wrap{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 500;
    padding: 20px;
}

.pop_cont{
    position: relative;
    /* height: 100%;
    max-height: 600px; */
    margin: 0 auto;
}

#pop_bg.show{
    display: block;
}

#pop_bg {
    display: none;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 75%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
}

.m_pop{
    display: none;
}

.m_popup_bg{
    display: none;
}

.pop_close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pc_pop_btn{
    position: absolute;
    bottom: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#pc_pop_btn .show{
    display: block;
}


#m_pop_btn{
    display: none;
}
/***************
00. Vote_Popup
****************/
#vote_popup {
    display: none;
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    z-index: 999;
}

.vote_check_cont{
    background:url('../images/popup_vote.png') no-repeat center / contain;
    width: 636px;
    height: 571px;
    position: fixed;
    top: 25vh;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
}

.inf_vote_box{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.inf_vote_inner{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 295px;
}

.cont_inf_vote{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 258px;
}

.inf_vote_lump_1{
    background:url('../images/box_inf_vote_lump_1.png') no-repeat center / contain;
    width: 216px;
    height: 101px;
}

.inf_vote_lump_1_top{
    display: flex;
    align-items: center;
    background:url('../images/top_inf_vote_lump_1.png') no-repeat center / cover;
    height: 43px;
    padding-left: 10px;
}

.inf_vote_lump_1_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55%;
}

.inf_vote_lump_2{
    background:url('../images/inf_vote_lump_2.png') no-repeat center / contain;
    width: 216px;
    height: 136px;
}

.check_useall{
    display: flex;
    justify-content: center;
}

.vote_list{
    list-style: disc;
}

.vote_list li::marker{
    color: #838383;
}


input[id="useall"]{
    display: none;
}

input[id="useall"] + label{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/check_off.png') no-repeat;
    line-height: 16px;
    color: #fff;
    cursor: pointer;
    margin-right: 5px;
    padding: 0 0 0 25px;
    white-space: nowrap;
}

input[id="useall"]:checked + label{
    background: url('../images/check_on_vote.png') no-repeat;
}

.box_pop_ok{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.btn_pop_ok{
    width: 218px;
    height: 60px;
    background: url('../images/btn_pop_vote.png') no-repeat;
    font-size: 1rem;
}

.btn_pop_ok_b{
	width: 121px;
    height: 40px;
    background: url('../images/btn_pop_advance.png') no-repeat;
    font-size: 1rem;
	color: #fff;
}

.btn_pop_ok_p {
    width: 121px;
    height: 40px;
    background: url('../images/btn_pop_url.png') no-repeat;
    font-size: 1rem;
    color: #fff;
}

.notice_lump{
    display: flex;
    justify-content: end;
    width: 94.5%;
}

.btn_notice_vote{
    width: 100%;
    max-width: 168px;
    height: 48px;
    background: url('../images/btn_notice_vote.png') no-repeat;
}

#wrap_pop_vote_notice{
    display: none;
}

.check_notice_vote{
    display: flex;
    justify-content: center;
    background: url(../images/pop_notice_vote.png) no-repeat center / contain;
    width: 100%;
    max-width: 636px;
    height: 330px;
    position: fixed;
    top: 35vh;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
}

.vote_desc_pop{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 70%;
}

.btn_pop_notice_v_ok_box{
    position: absolute;
    bottom: 12%;
}

.btn_pop_notice_v_ok{
    width: 121px;
    height: 40px;
    background: url('../images/btn_pop_vote_notice.png') no-repeat;
    font-size: 1rem;
}

.notice_list{
    list-style: disc;
    padding-left: 20px;
}

.notice_list li::marker{
    color: #838383;
}

/***************
00. Vote_Popup_Clear
****************/

#wrap_pop_vote_clear{
    display: none;
}

.vote_clear{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.vote_clear_2{
	display: flex;
    justify-content: center;
    align-items: center;
	height: 100%;
}

/***************
02. Advance
****************/

#advance{
    background: url('../images/bg_advance_2.jpg') no-repeat center / cover;
}

.wrap_advance{
    position: relative;
    width: 1240px;
    height: 602px;
    background: url('../images/box_advance_2.png') no-repeat center / contain;
    opacity: 0;
}

.cont_advance_1{
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 7%;
    width: 100%;
    height: 100%;
}

.perks_1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    position: absolute;
    left: 0;
    width: 100%;
    max-width: 660px;
}

.box_desc_perks{
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc_perks{
    position: relative;
    left: 8%;
}

.desc_perks::before{
    content: '';
    position: absolute;
    left: -15px;
    width: 10px;
    height: 26px;
    background-color: #158fd6;
    margin-right: 2px;
}

.desc_perks_deco{
    position: relative;
    right: 6%;
}

.event_peroid{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 439px;
    height: 100vh;
    max-height: 44px;
    color: #390f67;
    padding-right: 1rem;
}

.event_peroid p{
    position: relative;
    left: 15%;
	font-weight: 700;
}

.desc_peroid::before{
    content: '';
    position: absolute;
	left: -4%;
	width: 7px;
	height: 22px;
	background-color: #390f67;
}

.cover_perks_1, .cover_perks_2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    padding: 2% 0;
}

.cover_perks_1{
    width: 55%;
}

.cover_perks_2{
    width: 75%;
}

.desc_p_box{
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 85%;
    font-size: 12px;
}

.bar{
    position: absolute;
    top: 8%;
    right: 0;
    width: 5px;
    height: 100%;
    max-height: 437px;
    background: url('../images/line_advance.png') no-repeat center / contain;
}

.perks_box{
    width: 100%;
    filter: drop-shadow(0px 1px 2px rgb(0, 0, 0, 0.35));
}

.perks_box_1{
    position: relative;
    max-width: 147px;
    height: 154px;
    background: url('../images/perks_box.png') no-repeat center / contain;
    z-index: 5;
}

.perks_box_2{
    position: relative;
    max-width: 147px;
    height: 154px;
    background: url('../images/perks_box_2.png') no-repeat center / contain;
}


.perks_box_3{
    max-width: 132px;
    height: 138px;
    background: url('../images/perks_box_3.png') no-repeat center / contain;
}


.perks_box_4{
    max-width: 132px;
    height: 138px;
    background: url('../images/perks_box_4.png') no-repeat center / contain;
}


.perks_box_5{
    max-width: 132px;
    height: 138px;
    background: url('../images/perks_box_5.png') no-repeat center / contain;
}


.perks_box_6{
    max-width: 132px;
    height: 138px;
    background: url('../images/perks_box_6.png') no-repeat center / contain;
}


.perks_box_7{
    background: url('../images/perks_box_7.png') no-repeat center / contain;
}


.perks_box_8{
    background: url('../images/perks_box_8.png') no-repeat center / contain;
}

.perks_badge_1{
    position: absolute;
    top: -9%;
    right: -10%;
    width: 57px;
    height: 57px;
    background: url('../images/perks_box_deco.png') no-repeat center / contain;
    filter: drop-shadow(0px 2px 1px rgb(0, 0, 0, 0.3));
}

.perks_badge_2 {
    position: absolute;
    top: -9%;
    right: -10%;
    width: 57px;
    height: 57px;
    background: url('../images/perks_box_ssr.png') no-repeat center / contain;
    filter: drop-shadow(0px 2px 1px rgb(0, 0, 0, 0.3));
}

/* [type="radio"] {
    appearance: none;
    border: max(2px, 0.1em) solid #158fd6;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    transition: border 0.5s ease-in-out;
}

[type="radio"]:checked {
    appearance: auto;
    accent-color: #158fd6;
    border: 4px solid #158fd6;
    background-color: #158fd6;
} */

.check_stroe{
    display: flex;
    align-items: center;
    font-size: 0;
}

.btn_check_google{
    width: 122px;
    height: 33px;
    background: url('../images/btn_check_google.png') no-repeat center / contain;
    margin-left: 15px;
}

.btn_check_apple{
    width: 122px;
    height: 33px;
    background: url('../images/btn_check_apple.png') no-repeat center / contain;
    margin-left: 15px;
}

.btn_check_one{
    width: 103px;
    height: 24px;
    background: url('../images/btn_check_one.png') no-repeat center / contain;
    margin-left: 15px;
}

.if_perks_box_2{
    width: 122px;
    height: 133px;
    background: #0000ff;
}

.perks_2{
    display: flex;
    justify-content: inherit;
    flex-direction: column;
    position: absolute;
	top: 2%;
    right: 5%;
    width: 100%;
    max-width: 470px;
    height: 80%;
}

.essential{
    display: flex;
    flex-direction: column;
    background-color: #c096e3;
    padding: 0.6rem 1.5rem;
    font-size: 14px;
    border-radius: 10px;
}

.agree{
    background-color: #390f67;
    color: #fff;
    /* border: 1px solid #158fd6; */
    border-radius: 20px;
    padding: 4px 9px;
    font-size: 0.5rem;
}

.agree_check{
    display: flex;
    align-items: center;
	margin:0.5rem 0 0;
}

.agree_check > div{
    display: flex;
    align-items: center;
	margin-right:0.5rem
}

.check_age, .check_privacy{
    padding: 5px 0;
}

input[id="age"], input[id="privacy"], input[id="promotion"]{
    display: none;
}

input[id="age"] + label{
    background: url('../images/check_off_advance_2.jpg') no-repeat;
    color: #4a365a;
    line-height: 17px;
    cursor: pointer;
    margin-right: 5px;
    padding: 0 0 0 25px;
    white-space: nowrap;
}

input[id="privacy"] + label{
    background: url('../images/check_off_advance_2.jpg') no-repeat;
    color: #4a365a;
    cursor: pointer;
    margin-right: 5px;
    padding: 0 0 0 25px;
    margin: 5px 0;
    white-space: nowrap;
}


input[id="promotion"] + label{
    background: url('../images/check_off_advance_2.jpg') no-repeat;
    color: #4a365a;
    cursor: pointer;
    margin-right: 5px;
    padding: 0 0 0 25px;
    white-space: nowrap;
}


input[id="age"]:checked + label{
    background: url('../images/check_on_advance_2.jpg') no-repeat;
}

input[id="privacy"]:checked + label{
    background: url('../images/check_on_advance_2.jpg') no-repeat;
}


input[id="promotion"]:checked + label{
    background: url('../images/check_on_advance_2.jpg') no-repeat;
}



.select_store{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0 0;

}

.com_1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.com{
    display: none;
}
.box_certif_2{
    display: none;
}

.com_2{
    /* height: 55%; */
}

.btn_certif{
	/* display: none; */
    width: 100%;
    max-width: 489px;
    height: 60px;
    background: url('../images/btn_certif_2.png') no-repeat center / contain;
    color: #fff;
}

.certif_input_box{
    width: 100%;
    max-width: 489px;
    height: 60px;
    background: url('../images/btn_certif_2.png') no-repeat center / contain;
    color: #fff;
}

.ad_input-box {
    border: 5px solid #701b94;
	border-radius: 10px;
	background-color: #fff;
    padding: 0.5rem 1rem;

    display: flex;
    align-items: center;
}


.ad_input-box label{
    font-weight: 800;
	color: #2b2a2a;	
}

.ad_input-box label, .input-box input {
    margin-right: 10px;
}

.ad_input-box input {
    flex-grow: 1;
	border: none;
    outline: none;
    background-color: transparent;
    padding: 5px 10px;
	font-size: 1rem;
    font-weight: 600;
    font-family: Pretendard;
    font-weight: 800;
}

.ad_input-box input::placeholder {
    color: #505050;
	font-weight: 400;
}

.box_certif_3{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 3rem 0;
}

.decs_com{
    color: #5a1e96;
}

.box_com_1{
    text-align: center;
}

.box_com_2{
    text-align: center;
    color: #747373;
    padding-top: 1rem;
}

.completed_1{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding: 2rem 0;
}

.completed_2{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
	color: #1a0355;
}

.decs_cerif{
	display: none;
    text-align: center;
    padding: 0.5rem 0 1rem;
}

.input_code{
    position: relative;
}

.input_code::after{
    content: '';
    position: absolute;
    top: -35%;
    right: -17%;
    width: 219px;
    height: 80px;
    background: url('../images/advance_deco.png') no-repeat bottom / contain;
}

.desc_input_code{
    padding: 1rem 0 0.5rem;
}

.code_text{
    width: 100%;
    height: 47px;
    border: 2px solid #c8c6c6;
    border-radius: 10px;
    padding-left: 1rem;
    color: #c8c6c6;
}

.notice_advance{
    display: flex;
    justify-content: end;
}

.btn_notice{
    display: flex;
	align-items: center;
/*     padding: 0.5rem 0; */
    color: #34157b;
    text-decoration: underline;
	font-weight: 800;
}

.btn_notice img{
	width: 10%;
	margin-right: 0.3rem;
}

.cont_advance_2{
    position: absolute;
    bottom: -10%;
    width: 100%;
    height: 107px;
    border-top: 1px #000 solid;
}

.google_btn, .apple_btn, .one_btn{
    width: 100%;
    max-width: 130px;
    height: 40px;
    font-size: 0;
}

.google_btn{
    background: url('../images/btn_google.png') no-repeat center / contain;
}

.apple_btn{
    background: url('../images/btn_apple.png') no-repeat center / contain;
}

.one_btn{
    background: url('../images/btn_onestore.png') no-repeat center / contain;
}

.perks_phrases{
    padding-left: 2rem;
}

.perks_3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color: #2e2835;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.box_prk_3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

.perks_box_btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 65%;
    height: 100%;
}

.apply{
    width: 100%;
    max-width: 523px;
/*     height: 108px; */
}

/***************
03. Vote
****************/

#vote{
    position: relative;
    background: url(../images/bg_vote_2.jpg) no-repeat center / cover;
}

#vote h3{
	font-size: 0;
	padding: 0;
}

.ttl_vote{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 890px;
    height: 230px;
    background: url(../images/ttl_vote.png) no-repeat center / contain;
    margin: 2.5rem auto;
    padding: 0;
}

.sgb_intro_logo{
	width: 70vw;
    max-width: 361px;
}

/* .sgb_intro_logo {
  display: block;
  margin: auto; 중앙 정렬
  filter: drop-shadow(0 0 10px rgba(145, 0, 167, 0.8)) 네온 효과
         drop-shadow(0 0 30px rgba(145, 0, 167, 0.6))
         drop-shadow(0 0 60px rgba(145, 0, 167, 0.4));
  transition: filter 0.5s ease-in-out;
} */

/* .sgb_intro_logo:hover {
  filter: drop-shadow(0 0 15px rgba(145, 0, 167, 1)) 네온 효과 강조
         drop-shadow(0 0 45px rgba(145, 0, 167, 0.8))
         drop-shadow(0 0 90px rgba(145, 0, 167, 0.6));
} */

#vote.active .grid .neon-effect {
  animation: neonFlicker 1.5s 2.0s infinite;
}

.girls{
    width: 100%;
    /* position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0); */
}

.coming{
    font-size: 50px;
    padding-bottom: 2rem;
}

.box_girls{
    width: 100%;
    height: 100%;
}

.vote_time{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin: 0 auto;
}

.time_1{
    position: absolute;
    left: 6.5%;
    top: -16%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/time_deco_left.png) no-repeat center / cover;
    width: 100%;
    max-width: 339px;
    height: 43px;
}

.time_2{
    position: absolute;
    right: 6.5%;
    top: -16%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/time_deco_right.png) no-repeat center / cover;
    width: 100%;
    max-width: 339px;
    height: 43px;
}

.cont_vote_1{
    display: none;
}

.cont_vote_2 p{
    color: #fff;
	text-shadow: 0px 2px 4px black;
    opacity: 0;
}

.cont_vote_2{

}

.cont_vote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0;
}

.cont_vote_2 .wrap .cont_vote, #vevent.active .grid .cont_vevent, #fevent.active .grid .cont_fevent_wrap, #cevent.active .grid .cont_cevent_wrap, #mevent.active .grid .cont_mevent_wrap,
#world.active .grid .wrap_world .world_cont .world_text, #feature.acrive .grid .wrap_feature{
    opacity: 0;

}

#advance.active .grid h3, #vote.active h3, #vevent.active h3, #fevent.active h3, #cevent.active h3, #mevent.active h3, #world.active h3, #character.active h3, #feature.active h3{
    animation: appear 0.5s 0.3s forwards;
}

#advance.active .grid .desc_center, #vote.active .cont_vote_2 .wrap .desc_center, #vevent.active .grid .desc_center, #fevent.active .grid .desc_center, #cevent.active .grid .desc_center, #mevent.active .grid .desc_center{
    animation: appear 0.5s 0.45s forwards;
}

#advance.active .grid .wrap_advance, #vote.active .cont_vote_2 .wrap .cont_vote, #vevent.active .grid .cont_vevent, #fevent.active .grid .cont_fevent_wrap, #cevent.active .grid .cont_cevent_wrap, #mevent.active .grid .cont_mevent_wrap,
#world.active .grid .wrap_world .world_cont .world_text, #feature.acrive .grid .wrap_feature{
    animation: appear 0.6s 0.6s forwards;
}  

.vote_box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../images/vote_main.png) no-repeat center / 100% 100%;
    width: 1180px;
    height: 579px;
}

.vote_box::before{
    content: '';
    position: absolute;
    top: -106px;
    right: 180px;
    width: 137px;
    height: 106px;
    background: url(../images/vote_deco_2.png) no-repeat center / contain;
    margin-right: 2px;
}

.vote_box::after{
    content: '';
    position: absolute;
    top: -140px;
    right: 50px;
    width: 137px;
    height: 106px;
    background: url(../images/vote_deco_bubble.png) no-repeat center / contain;
    margin-right: 2px;
    animation: doongsil 0.87s infinite;
}

.box_select{
    position: absolute;
    top: 14%;
    right: 8%;
    color: #474747;
    font-weight: 800;
}

.select{
    width: 110px;
    height: 28px;
    border-radius: 7px;
}

.vote_count{
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-53%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    text-align: center;
    z-index: 4;
}

.vote_lump{
/*     position: absolute;
    bottom: 10%; */
    width: 100%;
    max-width: 1240px;
	height: 85%;
}

.vote_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	width: 100%;
	height: 100%;
}

.cham{
    font-size: 2rem;
    color: #e970ed;
}

.influencer_box{
    display: flex;
    justify-content: space-evenly;
	flex-direction: column;
    padding: 0.3rem;
}

.influencer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: url('../images/influencer.png') no-repeat center / contain;
    width: 263px;
    height: 173px;
}

.inf_bg{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 95%;
    height: 100%;
    align-items: center;
}

.inf_char_1{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.inf_img_s_1, .inf_img_s_2, .inf_img_s_3, .inf_img_s_4, .inf_img_s_5, .inf_img_s_6, .inf_img_s_7, .inf_img_s_8{
    width: 114px;
    height: 93px;
}

.inf_img_s_1{
	background: url('../images/inf_1.png') no-repeat center / contain;
}

.inf_img_s_2{
	background: url('../images/inf_2.png') no-repeat center / contain;
}

.inf_img_s_3{
	background: url('../images/inf_3.png') no-repeat center / contain;
}

.inf_img_s_4{
	background: url('../images/inf_4.png') no-repeat center / contain;
}

.inf_img_s_5{
	background: url('../images/inf_5.png') no-repeat center / contain;
}

.inf_img_s_6{
	background: url('../images/inf_6.png') no-repeat center / contain;
}

.inf_img_s_7{
	background: url('../images/inf_7.png') no-repeat center / contain;
}

.inf_img_s_8{
	background: url('../images/inf_8.png') no-repeat center / contain;
}

.inf_img_c_1, .inf_img_c_2, .inf_img_c_3, .inf_img_c_4, .inf_img_c_5, .inf_img_c_6, .inf_img_c_7, .inf_img_c_8{
    width: 114px;
    height: 93px;
}

.inf_img_c_1{
	background: url('../images/inf_char_1.png') no-repeat center / contain;
}

.inf_img_c_2{
	background: url('../images/inf_char_2.png') no-repeat center / contain;
}

.inf_img_c_3{
	background: url('../images/inf_char_3.png') no-repeat center / contain;
}

.inf_img_c_4{
	background: url('../images/inf_char_4.png') no-repeat center / contain;
}

.inf_img_c_5{
	background: url('../images/inf_char_5.png') no-repeat center / contain;
}

.inf_img_c_6{
	background: url('../images/inf_char_6.png') no-repeat center / contain;
}

.inf_img_c_7{
	background: url('../images/inf_char_7.png') no-repeat center / contain;
}

.inf_img_c_8{
	background: url('../images/inf_char_8.png') no-repeat center / contain;
}

.box_inf_name{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 239px;
    height: 39px;
    background: rgba(0 ,0 ,0 ,0.3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.inf_name_bar{
    width: 3px;
    height: 11px;
    background-color: #f7aafa;
}

.btn_vote{
    position: relative;
    width: 100%;
    max-width: 232px;
    height: 40px;
    background: url('../images/btn_vote_default.png') no-repeat center / contain;
}

.btn_vote::after{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.3s all;
    background: url('../images/btn_vote_hover.png') no-repeat center / contain;
    width: 100%;
    height: 100%;
}

.btn_vote_1::after{
    content: "민정 프로모션 영상";	
}

.btn_vote_2::after{
    content: "은비 프로모션 영상";	
}


.btn_vote_3::after{
    content: "지원 프로모션 영상";	
}


.btn_vote_4::after{
    content: "갑주 프로모션 영상";	
}


.btn_vote_5::after{
    content: "우현 프로모션 영상";	
}


.btn_vote_6::after{
    content: "현영 프로모션 영상";	
}


.btn_vote_7::after{
    content: "다정 프로모션 영상";	
}


.btn_vote_8::after{
    content: "말숙 프로모션 영상";	
}


.btn_vote:hover::after{
    opacity: 1;
}

.btn_pr{
    width: 100%;
    max-width: 109px;
    height: 36px;
    background: url('../images/btn_pr_default.png') no-repeat center / contain;
}

.btn_pr{
    position: relative;
    width: 100%;
    max-width: 109px;
    height: 36px;
    background: url('../images/btn_pr_default.png') no-repeat center / contain;
}

.btn_pr::after{
    content: "1분 PR";
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.3s all;
    background: url('../images/btn_pr_hover.png') no-repeat center / contain;
    width: 100%;
    height: 100%;
}

.btn_pr:hover::after{
    opacity: 1;
}


.vote_btn_cont{
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.4rem;
}

.sub_ttl_advance{
	color: #e5cdf9;
}

/***************
04_1. Vevent
****************/
#wrap_pop_vevent_apply{
	display: none;
}

.ad_cg{
    font-family: Sandoll GyeokdongG2;
}

.desc_winner{
	padding: 15px 0;
}

#vevent{
    background: url('../images/bg_vevent.jpg') no-repeat center / cover;
}

/* .cont_cevent{
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

.cont_vevent{
    position: relative;
    width: 1085px;
    height: 656px;
    background: url('../images/box_photo.png') no-repeat center / 100% 100%;
	filter: drop-shadow(0 2px 2px rgb(0, 0, 0, 0.5));
}

.cont_vevent::before{
    content:"";
    position :absolute;
    left: -8%;
    bottom: 8%;
    width: 130px;
    height: 240px;
    background-image:url('../images/box_photo_left.png');
}

.cont_vevent::after{
    content:"";
    position :absolute;
    top: -16%;
    right: -11%;
    width: 287px;
    height: 292px;
    background-image:url('../images/box_photo_right.png');
}

.box_evevt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 1%;
}

.lump_vevent, .lump_box_photo, .tip{
	width: 85%;
    margin: 0 auto;
}

.lump_vevent{
    display: flex;
	width: 92%;
    height: 14%;
    border-bottom: 1px solid rgb(178, 162, 141, 0.55);
}

.lump_box_photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65%;
}

.box_photo{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
	padding: 1.5rem 0;
}

.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    padding-left: 4%;
}

.card p{
    font-weight: 800;
}

.photo{
    margin: 10px;
}

.photo2{
    margin: 10px;
}

.photo img, .photo2 img{
	filter: drop-shadow(0 2px 2px black);
}

.btn_photo{
    width: 100%;
    max-width: 183px;
    height: 47px;
    background: url('../images/btn_vevent.png') no-repeat center / contain;
	z-index: 10;
}

.box_photo_check{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 22%;
	background: rgb(106, 76, 43, 0.5);
    padding: 1rem 0 2.5rem;
	border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.vevent_char{
    position: absolute;
    bottom: -10%;
    right: -19%;
    overflow: hidden;
    z-index: 4;
}

.vevent_char img{
	width: 87%;
}

.vevent_char::before{
    content: '';
    position: absolute;
    top: 5px;
    right: 200px;
    width: 196px;
    height: 86px;
    background: url(../images/box_photo_bubble.png) no-repeat center / contain;
    margin-right: 2px;
    animation: doongsil 0.87s infinite;
}

.cont_vevent_bottom{
    display: none;
    position: absolute;
    left: 4%;
    bottom: 0%;
    width: 80%;
    height: 20%;
    background: rgb(106, 76, 43, 0.5)
}

.tip{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70%;
}

.tip p{
    font-size: 0.85rem;
	font-weight: 200;
	border-bottom: 1px solid #5f290b20;
    padding-bottom: 0.5rem;
}

.emp{
	padding-top: 0.5rem;
	padding-right: 1rem;
}

.tip_bottom{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 60%;
}

.btn_notice_vevent{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6a4c2b;
    padding: 5px 10px;
    border-radius: 25px;
	line-height: 1;
}

.btn_notice_vevent img{
	margin-right: 0.3rem;
}

/***************
04_2. fevent
****************/
#fevent {
    background: url('../images/bg_fevent.jpg') no-repeat center / cover;
}

.char_fevent{
    position: absolute;
    right: 0;
    height: 100%;
    z-index: 10;
    opacity: 0;
}

#fevent.active .grid .char_fevent{
    animation: rightView 0.6s ease-in-out 0.8s forwards;
}

.cont_fevent_wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 20;
}

.cont_fevent{
    display: flex;
    color: #ffffff;
}

.cont_fevent > div{
    flex: 1;
}

.cont_fevent .cont_left{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0.25rem;
    background: #292336;
    outline-offset: -10px;
    outline: 1px solid #3f3653;
    border-top:2px solid #3f3653;
    border-left: 2px solid #292336;
    border-right: 2px solid #292336;
}

.cont_fevent .cont_left p{
    position: absolute;
    top: 4rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.reward {
    width: 100%;
}

.cont_fevent .cont_right{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 0.25rem;
    background: #625482;
    outline-offset: -10px;
    outline: 1px solid #8c78ba;
    border-top: 2px solid #b69cf2;
    border-left: 2px solid #625482;
    border-right: 2px solid #625482;
}

.cont_fevent .how_apply{
    flex: 1;
    background: #3e325c;
    padding: 1rem;
}

.cont_fevent .how_apply p{
    padding: 0 1rem 1rem 1rem;
    border-bottom: 1px solid #766c91 ;
}


.cont_fevent .how_apply_cont{
    padding: 1rem;
}

.cont_fevent .how_apply_cont ul {
    margin-bottom: 1rem;
}

.cont_fevent .how_apply ul li{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 0.85rem;
}

.cont_fevent .how_apply ul li span{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    font-size: 0.85rem;
    background: #312a41;
    border-radius: 50%;
    border:2px solid #ffffff;
}

.cont_fevent .how_apply ul li:not(:last-child) span::after {
    content: "";
    position: absolute;
    bottom: -100%;
    width: 2px;
    height: 100%;
    background: #ffffff;
}

.btn_checkUrl{
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    color: #ffffff;
    background: #8471ae;
    border-radius: 1rem;
    border-top: 1px solid #d1b3ff;
}

.btn_checkUrl:hover {
    background: #d1b3ff;
}

.notice_fevent{
    background: #544776;
    padding: 1rem;
    margin-top: 5px;
}


.notice_fevent ul li{
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    margin: 0.5rem;
    font-size: 0.7rem;
}

.notice_fevent ul li::before{
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    margin-right: 0.5rem;
    background: #766c91;
}

#fevent .btn_notice_event {
    background-color: #443370;
}

/* POPUP. 친구 초대 */
.url_txt{
    color: var(--color_pk_1);;
}

.url_txt_subtxt{
    color: #ffffff;
    font-size: 0.8rem;
    margin: 1rem 0 2rem;
}

.invite_info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.invite_value {
    background: #ffffff;
}

.invite_info>div{
    width: 100%;
}

.invite_info>div p{
    word-break: break-all;
}

.invite_info > div:nth-child(1){
    grid-column: 1 / 3;
    display: flex;
    margin-bottom: 1rem;
}

.invite_info>div:nth-child(1) .invite_value {
    flex: 8;
    padding: 0.5rem 1rem;
    text-align: left;
}

.btn_url_copy{
    flex: 2;
    position: relative;
}

.invite_info>div:nth-child(1) {
    grid-column: 1 / 3;
}

.invite_info p:not(.invite_value),
.btn_url_copy{
    padding: 0.5rem;
    background-color: var(--color_pk_1);
    color: #ffffff;
}

.invite_info > div:not(:nth-child(1)) .invite_value {
    padding: 1rem 0;
}



/***************
04_3. Cevent
****************/
#cevent{
    background: url('../images/bg_cevent.jpg') no-repeat center / cover;
}

#cevent h3{
  color: #3d0d51;
}

#cevent .desc_center {
    color: #701b94;
}

.cont_cevent_wrap{
    justify-content: flex-end;
    position: relative;
    width: 100%;
    max-width: 1182px;
    padding: 2rem;
    background: url('../images/cont_cevent.png') no-repeat center / 100% 100%;
}

.cont_cevent{
    display: flex;
    align-items: flex-end;
}

.cont_cevent .cont_left{
    flex: 4;
}

.c_card{
    position: absolute;
    top: 50%;
    width: 45%;
    left: 0;
    transform: translateY(-50%);
}

#cevent .cont_left::after{
    content: "";
    position: absolute;
    top: 3%;
    left: 0;
    width: 196px;
    height: 86px;
    background: url('../images/c_card_bubble.png') no-repeat right bottom / contain;
    animation: doongsil 0.87s infinite;
}

.cont_cevent .cont_right {
    flex: 6;
    margin-left: 15%;
}

.cont_cevent .event_detail {
    flex: 6;
    padding-top: 4rem;
    margin-bottom: 2rem;
}

.cont_cevent .event_detail_ttl{
    text-align: center;
    margin-bottom: 2rem;
}

.event_detail_ttl strong{
    color: #701b94;
}

.calendar_info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar{
    width: 100%;
    max-width: 277px;
    margin-right: 2rem;
}

.how_get_calendar > p{
    margin-bottom: 1rem;
    font-size: var(--font-m);
}

.btn_calendar {
    width: 100%;
    max-width: 186px;
    height: 49px;
    background: url('../images/btn_cevent.png') no-repeat center / 100% 100%;
}

.notice_cevent{
    font-size: 0.8rem;
    padding: 1.5rem;
    background: #f9edfd;
    overflow: hidden;
}

.notice_cevent > p{
    font-size: var(--font-xs);
    line-height: 1.5;
}

.notice_cevent>p span {
    font-size: var(--font-xs);
}

.notice_cevent > p span em{
    color: var(--color_pp_1);
    font-weight: 700;
    font-size: var(--font-s);
}

#cevent .btn_notice_event{
    float: right;
    background: var(--color_pp_1);
}
        
.lump_cevent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
	width: 55%;
    height: 80%;
}

.box_calendar, .box_fan{
    width: 300px;
    height: 500px;
    background: #ff0000;
}

/* .lump_calendar{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: 49px;
} */

.desc_current{
    display: flex;
    justify-content: space-around;
	align-items: center;
    width: 100%;
    max-width: 575px;
    height: 100%;
    max-height: 186px;
}

.current_guide{

}

.process{
    max-width: 575px;
}

.list_process{
    display: flex;
    justify-content: space-between;
}

/***************
04_4. mevent
****************/
#mevent {
    background: url('../images/bg_mevent.jpg') no-repeat center / cover;
}

#mevent h3,
#mevent .desc_center {
    color: #ffffff;
}

.cont_mevent_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 20;
    position: relative;
    width: 100%;
    max-width: 1182px;
}

.cont_mevent {
    display: flex;
    width: 100%;
    background: url('../images/cont_mevent.png') no-repeat center / 100% 100%;
}

.lump_mevent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 55%;
  height: 80%;
}

.cont_mevent > div{
    flex: 1;
}

.cont_mevent .cont_left{
    position: relative;
}

.m_card{
    position: absolute;
    top: -1rem;
    left: -2rem;
    width: 110%;
}

.deco_light{
    position: absolute;
    top: -21%;
    left: -26%;
    width: 60%;
    z-index: 4;
    mix-blend-mode: color-dodge;
    opacity: 0;
}

#mevent.active .grid .cont_mevent_wrap .cont_mevent .cont_left .deco_light{
    animation: light 0.4s ease-in-out 0.8s forwards;
}

.cont_mevent .cont_right {
    padding: 2rem 2.5rem 2.5rem;
}

.mevent_guide{
}

.cont_mevent .event_detail_ttl {
    font-size: var(--font-xl);
    font-weight: 600;
    line-height: 1.5;
}

.cont_mevent .how_apply{
    position: relative;
    margin: 1rem 0;
    background: #ffffff;
    border: 8px solid #00548c;
}

.char_sm{
    position: absolute;
    top: -5.2rem;
    left: 80%;
    height: 5rem;
    z-index: 10;
}

.mevent_guide::after{
    content: "";
    position: absolute;
    top: -4%;
    right: -6%;
    width: 178px;
    height: 71px;
    background: url('../images/m_char_bubble.png') no-repeat right bottom / contain;
    z-index: 4;
    animation: doongsil 0.87s infinite;
}

.mytiket_current{
    margin-top: 2rem;
}
/* .cont_mevent .how_apply::before{
    content: "";
    position: absolute;
    top:-50%;
    right: 0;
    width: 12rem;
    height: 50%;
    background: url('../images/m_char.png') no-repeat right bottom / contain;
} */

.cont_mevent .progress p{
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.cont_mevent .progress{
    padding: 1rem;
}

.cont_mevent .progress ul{
    margin-bottom: 1rem;
}

.cont_mevent .progress ul li{
    font-size: var(--font-s);
    font-weight: 500;
    line-height: 1.5;
}

.cont_mevent .notice_mevent {
    padding: 1rem;
    background: #e1e4e7;
}

.cont_mevent .notice_mevent li {
    color:#00548c;
    font-size: var(--font-s);
    font-weight: 500;
    line-height: 1.5;
}

.mytiket_ttl{
    position: relative;
    font-weight: 700;
}

.mytiket_ttl::before {
    content: "";
    position: absolute;
    top:50%;
    left: 8rem;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #c8cacb;
    border-radius: 50%;
    box-shadow:inset 1px 1px 1px #878989;
    transform: translateY(-50%);
    z-index: 10;
}

.mytiket_ttl::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 8rem;
    width: calc(100% - 8rem) ;
    height: 2px;
    background-color: #c8cacb;
    box-shadow: inset 1px 1px 1px #878989;
    transform: translateY(-50%);
}

.mytiket_detail {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    margin: 1.5rem 0;
}

.mytiket_detail > div{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mytiket_detail > div:first-child::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 6px;
    height: 1rem;
    background-color: #c8cacb;
    transform: translateY(-50%);
}

.mytiket_label{
    font-size: 0.8rem;
}

.mytiket_count{
    margin:0 1rem;
    font-size: 1.3rem;
    font-weight: 700;
}

.btn_register_info{
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    color: #ffffff;
    background-image: linear-gradient(0deg, #00548c 96%, #43aefd);
    border-radius: 2rem;
    border-top: 2px solid #00b0ff;
    transition: 0.3s all;
}

.btn_register_info:hover {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    color: #ffffff;
    background-image: linear-gradient(0deg, #004370 96%, #3ba3ee);
    border-radius: 2rem;
    border-top: 2px solid #3ba3ee;
}

#mevent .btn_notice_event{
    border: none;
    background: rgba(255 ,255 ,255 ,0.2);
}

.btn_notice_event img {
    margin-right: 0.3rem;
}

/***************
05. Fevent
****************/
/*
.box_ticket{
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    margin: 1rem 0;
}

.ticket{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
*/
/***************
06. World
****************/
#world{
    position: relative;
    background: url('../images/bg_world.jpg') no-repeat center / cover;
}

.grid_world{
    height: 100%;
    padding: 0;
}

.wrap_world{
    height: 100%;
}

.world_cont{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ttl_world{
    padding-bottom: 3rem;
}

.world_text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    max-width: 887px;
    height: 514px;
    background: url('../images/world_text.png') no-repeat center / contain;
    margin: 0 auto;
    text-align: center;
    z-index: 999;
}

.mobile_world{
	display: none;
}

.desc_world{
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc_world_1{
		display: none;
	}

.wold_char_left, .wold_char_right{
    position: absolute;
    bottom: 0;
    opacity: 0;
}

#world.active .wold_char_left{
    animation: leftView 0.6s cubic-bezier(0.6, 0.01, 0.19, 0.99) 1.2s forwards;
}

.wold_char_center{
    position: absolute;
    bottom: 25%;
    right: 24%;
    opacity: 0;
}

#world.active .wold_char_center{
    animation: rightView 0.6s cubic-bezier(0.6, 0.01, 0.19, 0.99) 1.6s forwards;
}

.wold_char_right{
    right: 0;
    opacity: 0;
}

#world.active .wold_char_right{
    animation: rightView 0.6s cubic-bezier(0.6, 0.01, 0.19, 0.99) 1.0s forwards;
}

.cld_wrap{
    width: 100%;
    height: 860px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    opacity: 0;
}

#world.active .cld_wrap{
    animation: skyWrap 0.6s cubic-bezier(0.6, 0.01, 0.19, 0.99) 2.0s forwards;
}



.cld_wrap div{
    background-position: 0 bottom;
    background-repeat: no-repeat;
    position: absolute;
}

.sky01 {
    bottom: 0;
    width: 1920px;
    height: 650px;
    font-size: 0;
    background: url(../images/whitelist_sky_4.png) no-repeat center / 100% 100%;
    animation: slide-right 60s linear;
}

.sky02 {
    right: 1690px;
    bottom: 0;
    width: 1920px;
    height: 650px;
    background: url(../images/whitelist_sky.png) no-repeat center / 100% 100%;
    animation: slide-right 60s linear infinite;
}

.sky03 {
    right: 1920px;
    bottom: 0;
    width: 1920px;
    height: 650px;
    background: url(../images/whitelist_sky_2.png) no-repeat center / 100% 100%;
    animation: slide-right 60s 20s linear infinite;
}

.sky04 {
    right: 1920px;
    bottom: 0;
    width: 1920px;
    height: 650px;
    background: url(../images/whitelist_sky_3.png) no-repeat center / 100% 100%;
    animation: slide-right 60s 40s linear infinite;
}


/***************
08. Features
****************/
#feature{
    position: relative;
    background: url('../images/bg_introduction.jpg') no-repeat center / cover;
}

.cont_feature{
    width: 100%;
    max-width: 1280px;
}

.cont_feature{
  position: relative;
  width: 100%;
  max-width: 968px;
  margin: 35px auto 0;
}

.cont_feature img{
  width: 100%;
}

.feature_slide{
    position: relative;
    overflow: hidden;
}

#feature .swiper-pagination{
    display: none;
}
/***************
09. Look
****************/
#look{
    position: relative;
    background: url('../images/bg_look.png') no-repeat center / cover;
}

.cont_look{
    display: none;
    position: relative;
    width: 100%;
    max-width: 1204px;
    height: 637px;
    background: url('../images/cont_pr.png') no-repeat center / contain;
    margin: 0 auto;
}

.box_look p{
    color: #fff;
}

.box_look{
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

.list_look{
    position: relative;
    width: 248px;
    height: 158px;
    background: url('../images/list_look.png') no-repeat center;
}

.list_look::after{
    position: absolute;
    content: "";
    opacity: 0;
    transition: 0.3s all;
    background: url('../images/list_look_hover.png') no-repeat center / contain;
    width: 100%;
    height: 100%;
}

.list_look:hover::after{
    opacity: 1;
    transition: 0.3s all;
}

.btn_1min_pr, .btn_broad{
    position: absolute;
}

.btn_1min_pr p, .btn_broad p{
    width: 92%;
    display: flex;
    justify-content: center;
}

.btn_1min_pr{
    top: 0;
    left: 0;
    width: 100%;
    max-width: 290px;
    height: 64px;
}

.btn_1min_pr{
    top: 0;
    left: 0;
    width: 100%;
    max-width: 290px;
    height: 64px;
    background: url('../images/cont_broadcast.png') no-repeat center;
}

.btn_broad{
    top: 0;
    left: 25.2%;
    width: 100%;
    max-width: 290px;
    height: 64px;
    background: url('../images/cont_broadcast.png') no-repeat center;
}

.look_p{
    color: #fff;
}

.lump_look{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guest{
    margin-top: 15px;
}

#wrap_pop_youtube{
    position: fixed;
    z-index: 9;
}

.youtube{
    display: flex;
    justify-content: center;

    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
}

.wrap_youtube{
    display: flex;
}

.wrap_look{

    position: relative;
    width: 100%;
    max-width: 1204px;
    height: 637px;
    margin: 0 auto;
}

.cont_brd{
    position: relative;
    width: 100%;
    max-width: 1204px;
    height: 637px;
    background: url('../images/cont_brd.png') no-repeat center / contain;
    margin: 0 auto;
}

.box_brd p{
    color: #fff;
}

.box_brd{
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}


.lump_brd{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list_brd{
    position: relative;
    width: 335px;
    height: 189px;
    background: url('../images/npq_default.png') no-repeat center;
}

.list_brd::after{
    position: absolute;
    content: "";
    opacity: 0;
    transition: 0.3s all;
    background: url('../images/npq_hover.png') no-repeat center / contain;
    width: 100%;
    height: 100%;
}

.list_brd:hover::after{
    opacity: 1;
    transition: 0.3s all;
}

canvas {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 17%;
  }
  
  #c1 {
    opacity: 0;
  }
  
  #c2 {
    background: #000;
  }
